[2013-09-26 06:36] guillermooo opened #1 "scoop list throws if no $global apps installed"
This is where the problem occurs:

https://github.com/lukesampson/scoop/blob/master/libexec/scoop-list.ps1#L14

Ensuring that `$global` has an empty hashtable value solves it.
### How to reproduce:
1. Install scoop for the first time
2. scoop install sudo
3. scoop list

(Totally unrelated, but _sudo_ does not prompt for elevation? It simply tells you you have to be an admin. I don't get the point

[2013-09-26 07:23] #1 closed, assigned to lukesampson

[2013-10-03 19:44] ferventcoder opened #2 "How can we integrate this with Chocolatey? :)"
I just found this...this is super neat...

[2013-10-13 09:44] guillermooo opened #3 "add sysinternals applications to the catalogue"
Would it be possible? :)

[2013-10-13 09:45] guillermooo opened #4 "add gnuwin32 suite to the catalogue"
The gnuwin32 suite is quite large, but looks like a good fit for scoop.

[2013-10-13 10:08] guillermooo opened #5 "add ConEmu to the catalogue"
(Sorry about the spam!) (If these apps have already been included in an alternate catalogue, I'm doubly sorry! :) (And I believe by _catalogue_ I mean _bucket_.)

[2013-10-13 10:26] guillermooo opened #6 "scoop 'self-management' commands"
As I'm learning scoop and trying out fixes, I find it very inconvenient that I cannot access scoop's dirs easily.

I think this is desirable, but I suppose the regular user will be better off by ignoring scoop's internals.

In any case, if you want to consider this feature, I was thinking about something like `scoop path`, that would print some interesting paths, or `scoop cd [shims|main|<empty>]`

[2013-10-13 12:24] #4 closed, assigned to nobody

[2013-10-13 12:35] #5 closed, assigned to nobody

[2013-10-13 12:38] #6 closed, assigned to nobody

[2013-10-14 22:43] guillermooo opened #7 "vim doesn't install correctly"
Symptoms:
- Vim tries to use my system's region settings (Spanish)
- Characters appear garbled
- ~/vimfiles not honored

`scoop uninstall vim` and a full re-install of Vim via Vim's .exe (default English, create .bat file, no create .vimrc/vimfiles) seems to solve all the issues...

[2013-10-18 08:49] guillermooo opened #8 "wget and certificates"
Can scoop do anything about certs **wget** requires to avoid `--no-check-certificate`?

[2013-10-18 12:55] #8 closed, assigned to lukesampson

[2013-10-19 07:23] guillermooo opened #9 "future?"
This is a brilliant project. Any plans for the future? I might be able to help here and there.

It's a shame it has such a small user base, though, it should get a larger exposure.

Keep it up! :)

[2013-10-25 22:32] smitranic opened #10 "allow buckets to be updated independently from the main app"
Right now it seems the only way to update the buckets is to udpate the app itself by running 'scoop update'.  It would be nice if we could update one or all buckets separately from the app.  Especially useful for when working on the buckets.

[2013-10-25 23:04] smitranic opened #11 "provide a way to create shims with different names than the original binary"
For some apps, the binary contains the version number. It would be nice to be able to either:

1) rename the binary with a manifest script that runs before the shims are created
2) allow the manifest to specify the binary and the shim name

E.g. The Swiss File Knife app ( http://sourceforge.net/projects/swissfileknife/ ) has a binary with a version number embedded in it (sfk168.exe).  It would be

[2013-10-26 23:56] #11 closed, assigned to nobody

[2013-10-26 23:59] #10 closed, assigned to nobody

[2013-10-27 13:44] #9 closed, assigned to nobody

[2013-10-27 13:45] guillermooo opened #12 "add dart to the main bucket"
It's a big install, but it's also a good fit for scoop, I think.

[2013-11-04 06:28] ghost opened #14 "Alternative to iex | ... & set unrestricted"
Hey,
iex (new-object net.webclient).downloadstring('https://get.scoop.sh') is the equivalent of curl | sudo bash...

In addition, this isn't going to work in many corporate environments, where the recommendation is to force AllSigned via group policy.

[2013-11-04 07:34] manojlds opened #15 "Where does something like Teamcity fit in?"
I would like to install Teamcity from the command line. Was about to write a package in Chocolatey for it, but am looking at scoop.

Where does it fit in? scoop seems to encourage OSS. Teamcity is a vital dev tool, but of course, not open source.

Where does something like Teamcity fit in? I would not want to maintain my own bucket.

[2013-11-04 07:47] hfaran opened #16 "Can't install 7zip, 7zip already installed?"
[code]

Would you know why this happens? Can't exactly use scoop without it knowing about it 7zip.

[2013-11-04 09:19] ghost opened #17 "Add a way to configure install paths / scoop paths"

[2013-11-04 11:48] #12 closed, assigned to lukesampson

[2013-11-04 11:49] #15 closed, assigned to nobody

[2013-11-04 13:39] lukesampson opened #18 "Extract files from MSI installers instead of running the full install"
@smitranic brought this up over email, looking for a more portable install. Fits well with the goal of Scoop doing easily reversible, self-contained installs without side-effects.

Doing this should allow 7-zip to be installed by Scoop even if it's already been manually installed using the MSI (see #16).

[2013-11-04 16:52] danaugustine opened #19 "Request to add 'tail'"
It would be great to have 'tail' added as a scoop package. The powershell equivalent command is cumbersome and buggy.

[2013-11-04 21:58] #19 closed, assigned to nobody

[2013-11-05 02:14] hwh008 opened #20 "where is awk?"
scoop search awk

[2013-11-05 11:33] manojlds opened #21 "What is the recommended way to install Powershell modules?"
I would like to put Powershell modules at one of the `PSModulePath`s.

But scoop extracts the files into its local path. What would be the recommended way to install posh modules. I haven't seen any modules in the existing bucket.

[2013-11-05 12:48] #21 closed, assigned to nobody

[2013-11-05 16:28] benguenter opened #23 "'scoop which' does not properly return paths"
When running 'scoop which [command]' the path returned has a ~ at the beginning without a backslash after it. This causes commands like installing vim to fail because powershell then tries to look in the current directory for '~appdata'.

For instance running 'scoop which vim' returns '~appdata\local\scoop\apps\vim\7.3.046\vim.exe' for me.

I am using powershell 4.

[2013-11-05 17:30] scovetta opened #24 "Vim failing hash check"
Hello,
  Vim is failing the hash check and cannot download (at least, for me):

[code]

[2013-11-05 20:53] nikolasd opened #25 "Avoid double installations of common tools"
This is not an issue, but more like a question. I see that git comes bundled with openssh and some other MSYS tools (such as grep, awk, cat, touch, sed, kill, ssh, etc) and vim also. So, if i install git, why should i also install openssh, grep, awk, vim, from different packages, why can't i use the ones that are already installed?
I would love if there was some kind of option that would allow me

[2013-11-06 04:56] #20 closed, assigned to nobody

[2013-11-06 23:27] lukesampson opened #26 "Handle 0-byte download better"
Related to #24 where Vim FTP hash check failed because Scoop didn't actually download anything.

[2013-11-06 23:58] #24 closed, assigned to lukesampson

[2013-11-07 01:21] #23 closed, assigned to lukesampson

[2013-11-07 16:56] ghert opened #27 "Admin rights and --global"
Hi. I love your work but I can't install apps system wide. It's admin account, cmd runs at admin rights and it only outputs this:

[code]

[2013-11-08 00:26] #27 closed, assigned to lukesampson

[2013-11-09 14:12] bylatt opened #29 "Hash check failed for mariadb and ruby"
I have a "hash check failed" problem when installing mariadb and ruby.

![capture](https://f.cloud.github.com/assets/935924/1506795/f1cd9782-4948-11e3-8e41-fd311246df25.PNG)

[2013-11-10 22:02] #29 closed, assigned to nobody

[2013-11-11 17:31] cbilson opened #33 "Options broken in strict mode"
In my profile, I have `Set-StrictMode -Latest` to help me catch errors.

In scoop scripts that use options, like `scoop-update.ps1` for example, the $opts object is often checked for the `-g` or `--global` option, which may not exist in the dictionary returned from `getopt`. This causes an error when in strict mode:

[code]

A simple workaround is to just turn off strict mode when using scoop:

[c

[2013-11-12 09:52] danishabdullah opened #35 "Go unistallation fails"
when I issue  "scoop install go"
It goes to googlecode, downloads the zip but crashes while extracting it.
The powershell becomes unresponsive and has to be manually closed through the tast manager.
When I open another powershell, "Go" isn't installed on the system, however scoop thinks that it has already been installed.

[2013-11-12 12:42] #25 closed, assigned to nobody

[2013-11-12 22:38] #33 closed, assigned to nobody

[2013-11-13 02:31] #35 closed, assigned to lukesampson

[2013-11-14 16:53] bleepbloop opened #37 "R does not work as expected after install"
"Invoke-History is by default aliased as 'r' and 'ihy'. So you can simply repeat the last command using 'r<enter>'."
Source: http://winterdom.com/2008/02/thecommandhistoryinpowershell

[2013-11-15 00:37] #37 closed, assigned to nobody

[2013-12-01 00:56] bleepbloop opened #42 "Install Setuptools in favor of now deprecated Distribute?"
Since `Distribute` is a now deprecated fork of the `Setuptools` project should we post-install `Setuptools` instead? Is there a reasoning behind using `Distribute` over `Setuptools`?

https://pypi.python.org/pypi/setuptools

[2013-12-01 10:28] #42 closed, assigned to nobody

[2013-12-01 12:36] guillermooo opened #44 "add haskell"
Functional programming language.

[2013-12-03 07:38] #3 closed, assigned to nobody

[2013-12-03 09:33] guillermooo opened #46 "how to list 'package' contents (e. g. all tools included in pstools)"
[code]

(By memory, might be the wrong commands I've listed above.)

Is it possible to list the contents of a _package_ (for lack of a better name).

[2013-12-03 09:56] #46 closed, assigned to nobody

[2013-12-20 17:50] guillermooo opened #48 "add elasticsearch"
I would definitely find it useful these days!

http://www.elasticsearch.org/download/

[2013-12-23 01:25] #16 closed, assigned to lukesampson

[2013-12-23 01:27] #18 closed, assigned to lukesampson

[2013-12-23 01:30] #17 closed, assigned to nobody

[2013-12-23 01:30] #14 closed, assigned to nobody

[2013-12-23 01:32] #7 closed, assigned to lukesampson

[2013-12-23 01:33] #2 closed, assigned to nobody

[2013-12-23 16:13] guillermooo opened #50 "abort installation if dir to be deleted is part of cwd"
I've just tried uninstalling Vim without realizing that I was within the app's dir under `%APPDATA%` and `scoop` naturally failed. Perhaps it should abort in this case?

Note that after changing the current directory and trying again, the removal succeeded.

[2013-12-23 23:25] #50 closed, assigned to nobody

[2013-12-27 21:12] Anachron opened #52 "Change scoop installation dir"
For everyone who wanna know, this is how I did it:
https://gist.github.com/Anachron/8152658

Could be quite handy when you need some choice.

[2014-01-04 08:23] #48 closed, assigned to nobody

[2014-01-06 05:02] #44 closed, assigned to nobody

[2014-01-06 07:18] #26 closed, assigned to lukesampson

[2014-01-09 23:10] adrientetar opened #55 "rust: update to 0.9"
The 0.9 release just came out:
https://mail.mozilla.org/pipermail/rust-dev/2014-January/007753.html

[2014-01-10 09:34] chaliy opened #56 "Remove powershell alias in curl package"
When install `curl` on powershell4, `curl` will be still aliased to `Invoke-WebRequest`. To overcome this curl package should probably remove alias after installation, something like this:

[code]

[2014-01-10 11:44] #55 closed, assigned to nobody

[2014-01-24 14:49] jkrehm opened #59 "Add z.ps support"
If I'm able to figure out how to make it work, I'll turn this into a pull request.

On my Mac, [z](https://github.com/rupa/z/) is immensely helpful. I just discovered [z.ps](https://github.com/JannesMeyer/z.ps) for Windows PowerShell and think it would be a good addition to scoop's repertoire.

[2014-01-25 23:48] #59 closed, assigned to nobody

[2014-02-21 09:35] lukesampson opened #66 "Unzip fails unless .NET 4.5 installed"
Reported by @jesseclaven on twitter [here](https://twitter.com/jesseclaven/status/436714380609069058).

[2014-02-21 09:52] #66 closed, assigned to lukesampson

[2014-03-01 14:39] #56 closed, assigned to nobody

[2014-03-15 20:50] eth0lo opened #80 "scoop does not install correctly"
I try to install using

[code]

but it was failing, the error that I get is:

[code]

I looked at your install script, and the issue that i found was that you were trying to unzip to a non existing directory `$dir\_scoop_extract`

I know nothing about windows scripting, but I guess that you need to "ensure" that the directory exists in first place.

[2014-03-21 02:19] CodisRedding opened #83 "Failed to extract files"
I'm following your instructs to install the solarized theme, but i'm running into issues

[code]

[2014-03-21 19:21] CodisRedding opened #85 "pwd shows full path at prompt"
The pwd prompt is really long. Is there a way to show the short version of this? BTW, awesome work on this.
![](http://dl.dropbox.com/u/89363347/Selection_066.png)

[2014-03-22 04:09] #85 closed, assigned to nobody

[2014-03-25 01:48] #83 closed, assigned to nobody

[2014-03-25 01:48] #80 closed, assigned to nobody

[2014-03-27 14:25] dennislloydjr opened #87 "Utilize default proxy"
Hi Luke,

I submitted a pull request and wasn't sure if I should also open an issue ticket to track it. The idea I'm proposing is to configure the WebClient with the default proxy. The link to the pull request is: https://github.com/lukesampson/scoop/pull/86

Let me know what you think.

Thanks,
Dennis

[2014-03-27 23:42] #87 closed, assigned to nobody

[2014-04-01 06:57] ntwb opened #88 "MariaDB 10.0.10 Stable General Availability"
MariaDB 10.0.10 is out (Previous release was v5.5.36)

I'm looking at migrating my 'installed' MySQL environment to a scoop MariaDB setup.

More than happy to take a look at this over the coming days though I plan on building on/out Luke's [apache-php-init.ps1](https://gist.github.com/lukesampson/6546858) script so that upgrading MariaDB and similar apps that I use everyday (PHP/Nginx etc) that re

[2014-04-08 23:37] #52 closed, assigned to lukesampson

[2014-04-29 14:17] vt8235 opened #95 "Is there something like a repository ?"
Hi,
I don't get it where from I could install a program. Are some of them already available somewhere around in a community "repo"? Isn't it similar to chocolatey?

[2014-04-29 22:12] cava opened #96 "redis hash mismatch"
when i run

[code]

i get:

[code]

thanks

[2014-04-29 23:25] #96 closed, assigned to nobody

[2014-04-30 06:48] masonm12 opened #97 "Checkver Usage?"
Is there any example of using checkver to check for package updates? Making some local packages, and it would be slick if I could check for updates in such a manner.

[2014-05-09 13:10] tonidy opened #103 "Can't install R 3.0.2"
When I install R package,

[2014-05-09 23:39] #103 closed, assigned to nobody

[2014-05-10 15:03] masonm12 opened #104 "--all Switch for Certain Commands"
It seems like some commands are begging for an --all switch, in particular scoop cache rm and scoop update (in my experience at least). Perhaps others.

[2014-05-11 00:33] #97 closed, assigned to nobody

[2014-05-11 00:33] #95 closed, assigned to nobody

[2014-05-14 08:00] tonidy opened #105 "Error when install Vagrant 1.6.1"
Hi,

I got the following error when install Vagrant:

I test the installer with 7zip and the file isn't corrupt. I've also scoop uninstall and scoop update, nothing worked.

[2014-05-22 16:18] runlevelsix opened #107 "Cannot install Scoop - Home location not set"
I'm on a Windows 7 machine that is normally part of a domain and the HOME variable is set to U:\. When I am not on the network (working from home), I cannot get Scoop to install. It exits with this error:

[code]

All of my Googling can't seem to find a solution to setting my "Home location" so that scoop will install. Any guidance would be appreciated. Thanks.

[2014-05-25 02:07] CMCDragonkai opened #108 "Comparing to Chocolatey"
Hey this is a cool tool. Would be great if you added a section that compared this to Chocolatey?

[2014-05-25 02:12] #108 closed, assigned to nobody

[2014-05-29 01:23] jamesgecko opened #109 "A custom shim for an uncooperative application"
I'm packaging [Brogue](https://sites.google.com/site/broguegame/), and I've run into some difficulties. The Brogue executable refuses to run unless the working directory is set to the directory that the game executable lives in. I can fix this by editing the shim to temporarily change directories, but I can't figure out how to include this fix in the json package.

This is what the package looks l

[2014-05-31 04:22] jamesgecko opened #110 "Command line application opening in new window"
I'm writing a manifest for [ffind](https://github.com/sjl/friendly-find/), a python application.

[code]

The ffind "binary" is just a Python script with a crunchbang. When ffind is run from a console, a new console window opens with the program's output. When ffind is launched directly from the python command rather than as a script started by the OS, it runs in the same window. I tried wrapping

[2014-05-31 06:31] #110 closed, assigned to nobody

[2014-06-01 17:13] jamesgecko opened #111 "`scoop update *` problems"
I pressed Ctrl-C while installing an application, and scoop apparently didn't end cleanly. I now have 7-zip installed in some strange half-state. When I try to update all my installed applications with `scoop update *`, strange things happen.

[code]

[2014-06-07 15:26] OrsonTyrell opened #114 "openssl 1_0_1g to 1_0_1h"
The link to http://slproweb.com/download/Win64OpenSSL-1_0_1g.exe is not available, updated to 1_0_1h.exe

[code]

http://slproweb.com/download/Win64OpenSSL-1_0_1h.exe

[2014-06-08 00:41] #114 closed, assigned to nobody

[2014-06-12 02:02] rasikas opened #118 "scoop is missing"
I have it installed for few days, but suddenly now it is not there.

[code]

when I try to install it again I'm getting the following message (hard to see as it crashes the powershell and exit, but able to get print screen)
![image](https://cloud.githubusercontent.com/assets/1381205/3253346/69d0a4ce-f1d5-11e3-83c8-2369f1f3803d.png)

[code]

[2014-06-24 12:24] hydra1983 opened #122 "Switch between mvn and mvn2 report ENV errors"
The manifests for [mvn](https://github.com/lukesampson/scoop/blob/master/bucket/mvn.json) and [mvn2](https://github.com/hydra1983/scoop-bucket/blob/master/mvn2.json)

The errors reported:

[code]

Could someone help me with this, thanks

[2014-06-25 03:13] #122 closed, assigned to nobody

[2014-07-08 02:03] masonm12 opened #125 "Shim Customizations"
I'm trying to make a scoop package for a small script I wrote which grabs the environment variables setup by the visual c batch files. The default shim executes the ps1 file in such a way that the environment changes don't propagate up (I assume in a separate process?). Is there any way to supply a custom shim for a package?

[2014-07-08 04:54] #125 closed, assigned to nobody

[2014-07-08 15:55] valc93 opened #126 "Folders per Version"
I had some issues with updating nodejs and ruby. Both, when updated to the newest version, lost all ruby gems and npm packages. I had to re-install them all. I searched through scoop's file directory and found that my packages are still there but in a folder with the previous version number. Is it possible to make nodejs use a single folder with all its packages and not create a folder per version

[2014-07-09 14:51] beppler opened #127 "Long paths"
I'm trying to integrate the Atom Editor (https://atom.io) on extra bucket.

Everything is working until the zip extraction. It fails with the following message:

[code]

This is probably due to 260 characters path limit on win32.

There are some workarounds for this including prepend all the paths with "\?\".

[2014-07-09 16:43] #127 closed, assigned to nobody

[2014-07-15 14:05] TimHacker opened #128 "Can't shim <appname>: file doesn't exist"
I've having an issue trying to install apps using scoop and getting an 'file doesn't exist' error.

For example installing curl I get this console output:

[code]

I get a very similar result when trying to install 7zip and vim.

Time, sudo and touch work fine.

When I run `scoop which curl` I get:
`not a scoop shim`.

The `Appdata\Local\scoop\apps\curl\7.37.0` folder is empty when after all this.

[2014-07-16 07:38] #128 closed, assigned to lukesampson

[2014-07-16 07:54] TimHacker opened #129 "'Cannot find path' while installing ruby"
I'm getting this output when running `scoop install ruby`:

[code]

I can confirm that the `_scoop_extract` folder doesn't exist.

Could it be related to the spaces in file path issue from this issue?
https://github.com/lukesampson/scoop/issues/128

[2014-07-16 23:09] #129 closed, assigned to nobody

[2014-07-21 04:25] vitalyobukhov opened #130 "scoop depends: the term 'my_usage' is not recognized"
[code]

[2014-07-21 04:37] #130 closed, assigned to nobody

[2014-07-28 02:05] #118 closed, assigned to nobody

[2014-07-28 02:06] #109 closed, assigned to nobody

[2014-07-28 16:43] aaranmcguire opened #135 "Issue with Installing with Proxy"
Hey,

I've been trying to install this package for about an hour now, and this is the best I've got.

I've followed the tutorial on https://github.com/lukesampson/scoop/wiki/Using-Scoop-behind-a-proxy

This it what I get

![capture](https://cloud.githubusercontent.com/assets/1158370/3723690/164abd10-1676-11e4-8993-be757cd9faf7.PNG)

So the settings for where the proxy is already in IE setting so I

[2014-07-28 16:59] #135 closed, assigned to nobody

[2014-07-29 15:19] pcriv opened #136 "Add Puppet"
Maybe is you find this a useful tool you could add it to the bucket.

http://docs.puppetlabs.com/guides/install_puppet/install_windows.html

Thanks.

[2014-07-30 04:32] #136 closed, assigned to nobody

[2014-07-31 14:55] pcriv opened #137 "scoop reinstall or reshim command"
I accidentally deleted all shims testing my puppet manifest.
Is there a easy way to regenerate the shims without reinstalling the apps?.

[2014-07-31 18:03] pcriv opened #139 "Add Gitignore cli"
This could be a useful enhancement.
http://www.gitignore.io/cli

[2014-07-31 21:35] #137 closed, assigned to nobody

[2014-08-01 21:28] #139 closed, assigned to nobody

[2014-08-14 22:50] #111 closed, assigned to nobody

[2014-08-14 22:55] #104 closed, assigned to nobody

[2014-08-30 14:57] jkrehm opened #155 "scoop outdated command"
One feature about I love about Mac's Homebrew that I'd love to see in scoop is an `outdated` command that I can run to quickly see which of my packages have updates to install. I don't necessarily want to install them all so `scoop update *` doesn't really fit the bill. Is there anything like this already? Nothing stood out to me when I ran `scoop help`.

If it's not too complex, I think it'd be a

[2014-08-30 23:31] #155 closed, assigned to nobody

[2014-09-15 17:55] moigagoo opened #160 "Python executable not referenced in Windows Registry"
For Python package installers to be able to locate Python, this record in registry must exist, with the Python installation path as the value: HKEY_CURRENT_USER\Software\Python\PythonCore\3.4\InstallPath

(This is a Python 3 example since that's the version I'm using; should be similar with Python 2.)

Is there a way to add this record on installation automatically? Adding it manually is anything

[2014-09-16 10:33] darraghjones opened #161 "Install scoop globally?"
Is it possible to install scoop globally, so it's accessible by all users on the system?

[2014-09-25 15:25] pablocrivella opened #162 "Add Git Flow AVH (if possible)"
Hey @lukesampson, do you think there's a way to install git flow on windows using scoop? the instructions show how to install it using msysGit and Cygwin.

https://github.com/petervanderdoes/gitflow
https://github.com/petervanderdoes/gitflow/wiki/Installing-on-Windows

[2014-09-26 17:38] pcriv opened #163 "Update to Ruby 2.1.3"
http://rubyinstaller.org/downloads/

[2014-10-03 20:01] gubatron opened #176 "Please Accept Bitcoin Donations via tip4commit"
You guys are a blessing, just found your project while trying to port some build scripts from Mac and Linux to Windows.

Would love to donate to your project and get others in the Bitcoin community to support you via a [tip4commit](https://tip4commit.com) fund.

We see you have gittip which uses fiat currency, but I know some people would prefer to support you w/bitcoins, this way all collaborator

[2014-10-03 22:25] gubatron opened #177 "hash check fails with package `sqlite`"
[code]

[2014-10-03 23:14] #177 closed, assigned to nobody

[2014-10-12 04:28] deevus opened #181 "Nightly Support for Rust (and possible others)"
Rust is an experimental programming language and as such is iterating very quickly, meaning that the recommended way to consume it on Windows is through the nightly mingw32 downloads.

This can be seen here: http://www.rust-lang.org/install.html

As far as I can tell there doesn't seem to be anything stopping me from changing the rust manifest to use a nightly version. However the hash will be dif

[2014-10-12 12:36] #161 closed, assigned to nobody

[2014-10-12 12:43] #176 closed, assigned to nobody

[2014-10-16 01:15] deevus opened #183 "Scoop relies on Remove-Item alias "rm""
I removed the alias `rm` that points to `Remove-Item`, which breaks scoop install/uninstall/update commands, possibly others.

I recommend using `Remove-Item` explicitly instead of the `rm` alias, since the scoop scripts rely on the `Remove-Item` implementation, and I want to use `busybox rm` as an alias. This way, scoop always uses the specific command from powershell.

[2014-11-02 22:49] scottwillmoore opened #189 "Dependency failure, treated as if installed."
This is a little bit obscure, and only happens when an app being installed as a dependency fails resulting in a reinstallation not seeing that the previous app has not been installed correctly.  If that does not make any sense, heres a walkthrough of what happens.

This happened to me the other day while creating the haxe package along with the dependency neko.

This is the haxe manifest,

[code]

[2014-11-02 23:33] #189 closed, assigned to nobody

[2014-11-03 04:51] scottwillmoore opened #192 "OpenJDK vs OracleJDK"
Both the openJDK and OracleJDK are both similar in features, however many developers lean towards the closed source OracleJDK for numerous reasons.
- It is commercially tested by Oracle
- Most home computers use Oracle's JVM, and while even the openJDK can compile and run applications on Oracles JVM, using the OracleJDK with the OracleJVM may reduce bugs?
- It has several tools and libraries not a

[2014-11-04 02:02] #192 closed, assigned to nobody

[2014-11-04 04:32] scottwillmoore opened #193 "OracleJDK : Double extraction, Accept cookie license"
In order to create a manifest for the `oraclejdk` a few things are required which are currently not supplied by scoop.

First the `oraclejdk` comes as an executable file.  This executable can be extracted by 7z to expose a single zip file called tools.zip.  A **second** extraction must occur, which extracts the contents of the tools.zip into the app directiory.

Secondly to download this executabl

[2014-11-06 16:38] ddamico opened #196 "Apostrophe in username"
Hi there scoop contributors! Just found the project but so far it seems great.

Was wondering if you could help me out with an issue. I work in a fairly large organization, and their admins were nice enough to give me a domain username with an apostrophe in it. Which as far as I can tell is a legal windows username, but seems like SUCH a bad idea. Predictably, this is breaking things. I'm just spe

[2014-11-08 12:49] scottwillmoore opened #202 "Varialbe based env_add_path, using env_set for scoop reset"
Just browsing through the source code, trying to understand what else needs to be done in order to implement `oraclejdk` and perhaps other packages in the future. Should scoop allow a way for manifests to add an environment `path` that is relative to another environment variable.

For example, while implementing `oraclejdk`, the following must happen.
- Create `JAVA_HOME` environment variable (use

[2014-11-09 07:23] scottwillmoore opened #203 "Extracting exe files"
Scoop does not offer a way to extract executables (`.exe`) files, while most executables cannot be extracted certain executables can (with `7zip`).

Scoop extracts these only files currently,

[code]

However changed to this it will attempt to extract executables.

[code]

Many packages may require this including,
- [`nimrod`](nimrod-lang.org)
- [`oraclejdk`](http://www.oracle.com/technetwork/java

[2014-11-09 08:33] #203 closed, assigned to nobody

[2014-11-11 20:24] RobBlackwell opened #212 "The openssl recipe fails, version i is replaced with version j"
PS C:\Users\Rob> scoop install openssl
installing innounp (0.40)
downloading http://downloads.sourceforge.net/project/innounp/innounp/innounp%200.40/innounp040.rar...done
checking hash...ok
extracting...done
creating shim for innounp
innounp (0.40) was installed successfully!
installing openssl (1.0.1i)
downloading http://slproweb.com/download/Win64OpenSSL-1_0_1i.exe...The remote server returned a

[2014-11-11 20:41] #212 closed, assigned to nobody

[2014-11-13 06:19] #202 closed, assigned to nobody

[2014-11-13 06:20] #193 closed, assigned to nobody

[2014-11-16 11:09] di5abled opened #214 "php apps not working"
it seems like the urls to the php zip files changed.
I am not able to install php or one of the provided versions

[2014-11-17 21:27] vidarkongsli opened #216 "Failed to install app globally"
When I try to install the application Kibana globally, the following error message occurs:

~ $ sudo scoop install kibana --global
sudo install failed previously. please uninstall it and try again.

If I try to install the application locally, it works fine. I have tried to re-install sudo, with no luck.
I have installed other applications globally, so I wonder what could be different about this o

[2014-11-17 23:56] #216 closed, assigned to nobody

[2014-11-20 17:17] jayandrewallen opened #220 "git hangs on "extracting""
This is, sadly, the only thing I can't get to install via scoop. It hangs for hours on "extracting...". Any insights?

![git extracting hang](https://cloud.githubusercontent.com/assets/6911941/5129290/fc62e25e-7095-11e4-908c-2c0ffaccf55c.jpg)

LMK what files I can send for debugging.

[2014-11-28 07:00] #163 closed, assigned to nobody

[2014-12-05 13:56] #214 closed, assigned to nobody

[2014-12-06 04:18] scottwillmoore opened #229 "Virtual Box Support"
I have not used vagrant or virtual box very much before, however, [`virtual-box`](https://www.virtualbox.org/) appears to be a very popular choice for emulation of operating systems within the `vagrant` framework. Would it be possible to add a `virtual-box` app to scoop (It is open source as well).

I would normally add it myself, however after looking at it for a bit, I am not really sure how to

[2014-12-07 20:23] teddybradford opened #230 "7zip hash check failed"
When I try to install 7zip, I get a hash check error.

[code]

[2014-12-07 20:43] #230 closed, assigned to nobody

[2014-12-14 21:24] ntwb opened #235 "64 Bit PHP"
The PHP manifest was just updated to include 64 Bit PHP in #234

PHP 64 Bit was added previously as a standalone manifest in `scoop-extras`, I cannot remember the reason why, "I think" it was in regard to 64 bit stability, I honestly cannot remember.

https://github.com/lukesampson/scoop-extras/blob/master/php64bit.json

We should either 1) Remove the `php64bit.json` manifest from `scoop-extras` o

[2014-12-16 19:15] vorou opened #236 "Can't create a manifest using CodePlex download url"
First of all, thanks for the tool, it's just great.

So, I want to create a manifest for TotalUninstaller, which is at CodePlex [here](https://totaluninstaller.codeplex.com/). The download link is:

[code]

And here's the manifest I wrote:

[code]

When I'm trying to install it, I'm getting `can't shim TotalUninstaller.exe: file doesn't exist`. It's true, there is no such file. The folder `appdata

[2014-12-17 05:34] #236 closed, assigned to nobody

[2014-12-22 13:29] luiscoms opened #246 "SSH copy key does not exists"
The package openssh does not provide the ``ssh-copy-id`` command

[2014-12-23 15:12] scottwillmoore opened #248 "Java versioned dependencies"
Hi,

So recently I began working on Java support for scoop, however now another issue.

I began creating new packages for `oraclejdk7` and reached out to the developers of the unofficial-builds of `openjdk` to see whether a Java 8 `openjdk` could arrive soon. Also Java 9 (so another `openjdk` and `oraclejdk` build) is on the horizon, but no release date has been set yet. However with all these new

[2014-12-26 07:55] parisio opened #249 "change install directory?"
Hi. Sorry if this explained elsewhere but I couldn't quite find the answer I'm looking for.
Just wondering if I can change the location of pshazz from /scoop/apps and /scoop/shims to something like C:\dev\stuff

If so, what do I have to change (eg. path references)? Do I have to move the whole of scoop (is that even possible with reinstalling)? Do I have to edit the $path variable in /scoop/shims/

[2014-12-28 12:09] #248 closed, assigned to nobody

[2014-12-29 15:59] jlchoike opened #251 "scoop couldn't find manifest for maven"
When I execute 'scoop install maven', I get the following error:

scoop couldn't find manifest for maven

[2014-12-30 04:35] #251 closed, assigned to nobody

[2015-01-05 23:56] luiscoms opened #254 "404 on PHP package"
I am trying to install php and get 404 error
[code]

[2015-01-06 00:15] ntwb commented on #254
You need to run `scoop update` to update to latest version that includes updated PHP manifests, also to note `scoop install php` will now install PHP 5.6.x, if you explicitly want PHP 5.5.x (5.5.20 is the latest) you should use `scoop install php55`, there is also PHP53 and PHP54 versions if you're after those.

[2015-01-06 02:35] luiscoms commented on #254
Nice, that works!

[2015-01-10 15:40] darsain commented on #183
Also wanted to replace `rm`, along with a few other commands, and this makes it impossible.

Honestly, you can't put users in a situation where they can't customize *their* aliases because your tool relies on default ones. You've basically broke a PowerShell feature for every scoop user.

Never coded any PS script, but I'd be surprised if using non-aliased commands wasn't a recommended best practi

[2015-01-18 09:10] lygstate opened #260 "Don't know what's this means."
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\lygstate>@powershell -NoProfile -ExecutionPolicy unrestricted -Command "iex (new-object net.webclient).downloadstring('https://get.scoop.sh')"
initializing...
Invoke-Expression : Bad numeric constant: 7.
At line:10 char:4
+ iex <<<<  (new-object net.webclient).downloadstring($core_url)

[2015-01-19 00:39] lukesampson commented on #260
Try running `(new-object net.webclient).downloadstring('https://get.scoop.sh')` to see what script you're actually downloading. It might be that there's a proxy server giving you something other than [this script](https://raw.githubusercontent.com/lukesampson/scoop/master/bin/install.ps1).

[2015-01-23 18:16] gutierri commented on #235
@lukesampson Hey!?

[2015-01-23 21:49] lukesampson commented on #235
Sorry I didn't respond sooner, Gutierri.

And sorry to drag the chain here again, but I just had a quick look at the PHP website now and the thing that I want to be careful about is that 64-bit PHP is described as "experimental" on Windows. I want to be careful that non-experts (like myself) don't get into trouble by installing an unreliable version of PHP when the 32-bit version would work better

[2015-01-26 02:34] gutierri commented on #235
@lukesampson Ok!

But I never had problems with the 64bit version of PHP on Windows. But we can see what can be done.

[2015-01-26 04:21] lukesampson commented on #235
@gutierri If you want to update [apache64bit](https://github.com/lukesampson/scoop-extras/blob/master/apache64bit.json) and [php64bit](https://github.com/lukesampson/scoop-extras/blob/master/php64bit.json) with these changes you've made, I'll merge those in.

I think that's probably the safest thing to do for now, unless you're confident that 64-bit Apache+PHP will work fine for everyone.

[2015-01-28 02:05] gutierri commented on #235
@lukesampson Ok!

It would be nice also organize scoop packages, especially those alternative versions of other packages.

Creating a standard for this, for example:
<kbd>php_x64</kbd>
<kbd>apache_x64</kbd>

[2015-01-30 10:59] richkeenan commented on #260
Hi @lygstate, I had the same issue but realised I only had PS version 2 installed. I installed version 4 and it's all good.

[2015-01-30 13:24] fpatz opened #267 "scoop fails to extract msi for some packages (nodejs, 7zip)"
[code]
Unluckily the log file is empty:
[code]

7zip has the same problem. Other packages install flawlessly. Any idea?

[2015-01-30 19:09] fpatz commented on #267
Update: after upgrading from Powershell from 3 to 4 it works. http://scoop.sh/ say "Powershell 3", so that's what I did first. Perhaps you should update the page to state Powershell 4 as a dependency.

[2015-01-31 21:59] #267 closed

[2015-02-02 08:13] lygstate commented on #260
So it's better to lowering down the PS version dependence

[2015-02-02 08:17] lygstate commented on #260
Windows PowerShell  2.0 is the latest version that support for XP

[2015-02-05 13:58] luiscoms commented on #254
Once again, 404 error.
Scoop is updated, but the error still occurs.

[code]

[2015-02-05 14:20] cava commented on #254
same as above

[2015-02-05 15:35] luiscoms commented on #254
I just updated the PHP bucket, if I am right,  this pull request #273 could be accepted

[2015-02-05 22:25] lukesampson commented on #254
I've accepted #273 now.

[2015-02-06 10:35] luiscoms commented on #254
Your are welcome!

[2015-02-06 10:35] #254 closed

[2015-02-08 07:32] mr-moon opened #278 "Unable to install vim on win 8.1"
This is what it get. Doesn't mater if I run as Admin or not.

[code]

[2015-02-10 17:12] caiorg opened #280 "Unable to install basic tools (i.e. coreutils, openssh)"
Hey there!

I'm new to Scoop and I was following [this tutorial](http://outcoldman.com/en/archive/2014/07/20/scoop/) on installing it with other tools.

When I reached the following line to *Install core utils and tools*
[code]
I got this message

![image](https://cloud.githubusercontent.com/assets/2515035/6131708/f5b5e8e0-b134-11e4-8857-1c9856bc53c4.png)

So I've tryed installing them one by one,

[2015-02-10 21:19] #280 closed

[2015-02-10 21:29] lukesampson commented on #280
Thanks for reporting this—it looks like Source Forge have changed the way their download URLs work. These apps should install properly now, once you `scoop uninstall [app]` the ones that failed.

[2015-02-11 12:15] caiorg commented on #280
@lukesampson Thanks for the quick fix!
Everything is installed and working like a charm!

[2015-02-11 12:38] caiorg opened #281 "Curl SSL certificate problem"
Hey @lukesampson, sorry if this has been already solved, but I couldn't find any issues (open and closed) here.

I just installed `curl`, went to test it and got the following message:

![image](https://cloud.githubusercontent.com/assets/2515035/6146979/cc54647c-b1d9-11e4-9f34-7fdef303aa07.png)

It feels weird, since on the Scoop demo video you're saying it takes care of the certificates. Also the

[2015-02-17 22:39] lukesampson commented on #281
Sorry to take so long. I just checked this out using the same steps in your screenshot and I didn't get that error.

There is a CA bundle included when you install curl with scoop, so it should in theory work. Maybe there was a certificate revocation check or something that failed.

Could you try running with the `-v` switch, e.g. `curl -v https://get.scoop.sh`—that might give some more info. Also

[2015-02-18 07:39] vidarkongsli opened #282 "Can Scoop itself be installed 'globally'?"
Is there an easy way to install Scoop itself in /ProgramData instead of  ~/AppData/Local?

[2015-02-18 08:41] soderlind commented on #229
Any news on this ? Will virtual-box be available trough scoop ?

[2015-02-18 11:51] scottwillmoore commented on #229
Hi, I have done some testing and I think this could be possible, the script above I believe works to some degree, however due to time constraints I do not have the time to finish it currently, but if anyone wants the rest of the files to play with I would be happy to post them here. It just consists of a manifest and this script which runs (you can check out `oracle-jdk` in the scoop-extras bucket

[2015-02-18 14:59] caiorg commented on #281
Hey @lukesampson ! Certainly you have many other things to look over, so don't be sorry. hehehe

Turns out I had another curl.exe "hidden" inside another directory. As couldn't not find any way to uninstall it, I just renamed it, installed Scoop's version and voilá!

Now I have to excuse for the mess... Sorry!

[2015-02-18 14:59] #281 closed

[2015-02-18 22:13] lukesampson commented on #281
No problem—glad you worked it out :)

[2015-02-20 18:20] damnhandy commented on #249
This approach worked for my. Setting the `SCOOP` environment variable to a local path worked as advertised. Scoop is now installing files locally rather on the network drive. We should probably add this to the wiki.

[2015-02-20 18:22] damnhandy commented on #282
See issue #249

This will allow you to control where Scoop gets installed.

[2015-02-21 03:49] ntwb commented on #229
I tend to agree installing Virtual Box outside of Scoop may be the best solution for now.

And apologies, same boat, not enough time to do all the things....

[2015-02-21 07:11] vidarkongsli commented on #282
Thanks. I'll give it a go.

[2015-02-24 16:11] guillermooo opened #283 "installation of 7zip fails"
Hi want to install `git` via `scoop`. `scoop` starts by downloading `7zip`, but then fails consistently when it has to extract the msi contents. In fact, installing `7zip` on its own produces the same error:

[code]

Log file:

[code]

I'm running `scoop` as a regular user (*RemoteSigned* PS execution policy).

[2015-02-24 22:22] lukesampson commented on #283
What version of powershell and .NET are you running?

[2015-02-25 10:37] guillermooo commented on #283
[code]

[2015-02-25 11:56] guillermooo commented on #283
It works again. Can't repro this any more, so closing. Thanks!

[2015-02-25 11:56] #283 closed

[2015-02-27 15:24] valtido opened #285 "couldn't find manifest for ssh"
Can't install SSH

[code]

[2015-02-27 20:43] ntwb commented on #285
There is no manifest named `ssh`, you'll most likely be looking for `openssh`.

https://github.com/lukesampson/scoop/tree/master/bucket

[2015-02-28 08:24] nightire commented on #278
Same here... @mr-moon can you find a way to solve this?

[2015-03-10 05:49] blackk18 commented on #183
I was trying to install some unix utilities
[code]
or
[code]
These installations create shims like **rm** or **ls**, which can't be used because of powershell's default aliases. If I remove aliases scoop is broken.

I'd really like to be able to use **rm -rf** or have civilised **ls** output, but because of this "bug" (or feature) I'm stuck with very sad things like **rm -force**...

[2015-03-10 06:33] deevus commented on #183
It's safe to remove the `ls` alias. I just put it in my Profile.ps1 file.

As for the `rm` alias, this is still frustrating for me. I've thought about changing all the alias references myself but if @lukesampson is still against this then it'll just fragment the community.

[2015-03-10 06:42] lukesampson commented on #183
For me, the ideal way to fix this would be to set the aliases that scoop needs (maybe in core.ps1) with `-option private` or some other way of limiting the aliases to only apply for scoop (i.e. running `scoop [cmd]`, not running apps that are installed with scoop).

I'm not sure if this is possible. If anyone would like to try creating a script that can set it's own aliases without affecting the u

[2015-03-10 13:28] deevus commented on #183
@lukesampson I've had a look at this and unfortunately it doesn't work. If you have a AllScope alias (ie rm -> Remove-Item) then you can't create a private/script alias of the same name. It doesn't let you override the globally scoped one.

[2015-03-10 23:01] lukesampson commented on #183
Thanks for looking at it. Do you know if function scoped to the script would work? Something like what @kodybrown suggested above?

[2015-03-11 02:03] deevus commented on #183
Using a simple function definition with script scoping in core.ps1:

[code]

I then removed the arguments from the calls in uninstall.ps1:

[code]

Uninstalling an app would do the following:

[code]

I'm not a Powershell expert so I could be missing something here, but otherwise I think it's more effort than it's worth.

[2015-03-11 02:21] lukesampson commented on #183
That's interesting. So what if you change the rm function in `core.ps1` to just this:

[code]

That way we wouldn't have to re-write all the calls to `rm` to remove the arguments, they'd just get passed to the `remove-item` command. Would that work?

[2015-03-11 02:32] deevus commented on #183
Good one! That does work. :)

[2015-03-11 02:34] deevus commented on #183
@lukesampson What other aliased commands are used so I can replace those as well?

[2015-03-11 02:52] lukesampson commented on #183
Cool, sounds like this might work then, right?

Here are the aliased commands I can find:

* `cp` -> `copy-item`
* `echo` -> `write-host`
* `gc` -> `get-content`
* `gci` -> `get-childitem`
* `gcm` -> `get-command`
* `ls` -> `get-childitem`
* `mkdir` -> `new-item`
* `mv` -> `move-item`
* `rm` - `remove-item`
* `rmdir` -> `remove-item`
* `sc` -> `set-content`
* `select` -> `select-object`
* `sls` ->

[2015-03-11 03:21] #183 closed

[2015-03-11 03:23] lukesampson commented on #183
One small fix for `mkdir` but apart from that it's looking good. Thanks for this. All good now?

[2015-03-11 03:50] gutierri commented on #278
Close?

[2015-03-11 03:54] nightire commented on #278
@gutierri not in my world

[2015-03-11 03:58] lukesampson commented on #278
Yeah let's not close it yet, I just can't reproduce the error.

@nightire can you show me your `$psversiontable`?

[2015-03-11 04:01] nightire commented on #278
@lukesampson sure, windows laptop is away from me right now, as soon as I get back to home, I will show what you need.

[2015-03-11 04:03] deevus commented on #183
Yep all good :)

[2015-03-11 04:15] lukesampson commented on #183
:+1:

[2015-03-12 11:43] deevus commented on #260
I'm gonna guess this is likely a wontfix.

[2015-03-12 11:53] deevus commented on #162
@lukesampson You should be able to close this.

[2015-03-12 21:24] #162 closed

[2015-03-12 21:26] #260 closed

[2015-03-13 02:17] ghostsquad commented on #183
The only aliases that I've been comfortable using in modules and scripts are `?` for `Where-Object`, `%` for `ForEach-Object`, `??` for `Invoke-NullCoalescing` and `?:` for `Invoke-Ternary`. The last two are from Powershell Community Extensions (PSCX).

[2015-03-13 03:21] deevus commented on #285
@valtido Use `scoop install openssh` instead.

[2015-03-13 03:21] #285 closed

[2015-03-13 03:24] deevus commented on #229
I had looked at this previously and should have a local branch on my PC. I'll have a look when I get home to see how far I got.

[2015-03-13 03:26] deevus commented on #282
@vidarkongsli How did you go?

[2015-03-13 14:56] valtido commented on #285
Yes... Sorry my bad, was just following one of the Videos on the website and I came across it...

I figured it out eventually :)

[2015-03-13 23:59] deevus commented on #285
No problem!

[2015-03-15 05:05] deevus opened #294 "script:mkdir doesn't work when mkdir is aliased in Powershell"
In Powershell, `mkdir` is not actually an alias. `Remove-Item alias:/mkdir` fails on my system.

Having `Set-Alias mkdir mkdir.ps1` in my profile works such that I can use the `busybox mkdir` command instead of the system command. This overrides the system `mkdir` command, and apparently the `script:mkdir` function as well.

[2015-03-15 05:29] deevus commented on #294
I changed my alias to be locally scoped and this fixes the issue with scoop. However this isn't a solution that everyone is going to know.

[code]

[2015-03-18 05:20] lukesampson commented on #294
So any user-defined alias will override the corresponding functions you added in core.ps1?

[2015-03-18 06:28] deevus commented on #294
That's possibly the case, although I'd need to do some more investigating. Unfortunately I won't have time this week.

[2015-03-20 12:36] Tafiir opened #295 "Wget download is down"
`scoop install wget` gives 404 error. There are alternative download links on [the Wget Wiki](http://wget.addictivecode.org/FrequentlyAskedQuestions?action=show&redirect=Faq#download).

[2015-03-21 00:39] #295 closed

[2015-03-21 03:03] nicekiwi opened #296 "ls in coreutils can't accept parameters."
PS C:\> ls -al
    Get-ChildItem : A parameter cannot be found that matches parameter name 'al'.
    At line:1 char:4
    + ls -al
    +    ~~~
        + CategoryInfo          : InvalidArgument: (:) [Get-ChildItem], ParentCont
       ainsErrorRecordException
        + FullyQualifiedErrorId : NamedParameterNotFound,Microsoft.PowerShell.Comm
       ands.GetChildItemCommand

    PS C:\>

[2015-03-21 05:04] deevus commented on #296
You're still using the Powershell alias for Get-ChildItem. You'll need to add `Remove-Item alias:/ls` to your Powershell profile.

[2015-03-21 07:43] nicekiwi commented on #296
Ohhhh that's pretty awesome :smile:

[2015-03-21 07:43] #296 closed

[2015-03-22 02:45] #246 closed

[2015-03-23 10:54] deevus commented on #107
@runlevelsix Did you end up getting Scoop installed?

[2015-03-23 10:58] deevus commented on #249
No difficulties reported.

[2015-03-23 10:58] #249 closed

[2015-03-23 11:03] #282 closed

[2015-03-25 06:15] sakai135 opened #303 "different filenames per architecture to the same name"
Is there a way to install binaries to the same name when each architecture has a different filename in the URL?

Specifically, I have a manifest like the one below. Since the architecture is in the filename, they get downloaded to different files, and AFAIK you can't have separate `bin` under the `architecture`.

[code]

[2015-03-25 08:47] lukesampson commented on #303
There is a semi-secret `pre_install` step that runs before the shims are set-up for your bins—would it work to use this to rename the `docker-machine...` exe to just `docker-machine` so that when the shim is made it's the same filename?

There's an example `pre_install` in the [gow](https://github.com/lukesampson/scoop/blob/master/bucket/gow.json) manifest for reference.

[2015-03-25 15:18] sakai135 commented on #303
Cool, I think that will work. Thanks.

[2015-03-25 15:18] #303 closed

[2015-03-26 05:34] deevus opened #304 "Extending scoop with custom commands"
I propose that scoop be extended so that can run any commands called `scoop-*`.

I first thought that scoop could just walk `$env:PATH` checking for commands matching `scoop-*` but I'm afraid that this might affect performance too much. My next thought is that instead we could just walk the `$env:scoop/shims` path which will be much quicker.

Additionally scoop commands could be installed using sc

[2015-03-26 07:17] lukesampson commented on #304
I agree it does seem cool, but I'm not sure what the use case is for extensibility. I think we should be careful here not to add extensibility features and lose clear focus and simplicity. I don't really see the benefit of people independently implementing commands of varying quality, perhaps with overlapping functionality.

Also, the `scoop info` example doesn't seem very useful to me, but if we

[2015-03-26 07:30] deevus commented on #304
The point I think is that this way keeps the core of scoop simple but allows people to go crazy if they want. @kodybrown for example appears to be running scoop from his own private fork.

Personally I don't want fragmentation like that to become commonplace, which is the main reason I'm putting this forward.

[2015-03-26 07:35] deevus commented on #304
I have a bucket with a test command at https://github.com/deevus/scoop-commands

[2015-03-26 07:38] lukesampson commented on #304
OK. I'm still not sure that this is a good direction, but your implementation looks nice and simple and I guess letting people do their own thing isn't so bad, if they really want to. So yeah, let's do it then.

[2015-03-26 11:00] #304 closed

[2015-03-28 07:00] deevus commented on #181
By adding `--no-cache` option in #308 updating a nightly can be done using `scoop update --no-cache --force rust-nightly`

I'm happy with this for nightly versions as it keeps it simple.

[2015-03-28 07:05] deevus commented on #181
@lukesampson Do you think it would it still be worth looking at some kind of convention for nightlies?

[2015-03-29 02:33] lukesampson commented on #181
Yeah absolutely. If you have time to look at it, I think it would be cool.

[2015-03-30 01:07] gutierri opened #310 "openssl return 404"
The openssl returns 404 in the download

[2015-03-30 04:41] lukesampson commented on #310
Sorry about that, it's fixed now if you run `scoop update` first.

[2015-03-30 04:42] #310 closed

[2015-03-30 15:42] gutierri commented on #310
:+1:

[2015-03-30 18:38] guillermooo opened #315 "py throws error 'Can't find default python'"
[code]

Maybe it's a limitation of how `py.exe` works, but it's a shame this doesn't work.

[2015-03-30 22:39] #181 closed

[2015-03-31 00:09] lukesampson commented on #315
Setting `$env:PYLAUNCH_DEBUG=1` gives some more info about what's happening.

More info at [Python Launcher For Windows](https://bitbucket.org/vinay.sajip/pylauncher/src/tip/Doc/launcher.rst)

From the `locate_all_pythons` function in [this source file](https://bugs.python.org/file21330/pep-0397-reference.py) it looks like the launcher will only check the registry to discover installed python vers

[2015-03-31 04:40] deevus commented on #315
I think I've figured this out by adding the following to the `post_install`:

[code]

Is there a clean-up task after uninstalling to unset these if needed?

[2015-03-31 04:59] deevus commented on #315
The next problem is that `py.exe` can only find the last version installed (or reset) with scoop.

[2015-03-31 05:19] deevus commented on #315
I also just realised that `py.exe` doesn't come with `python27`

[2015-03-31 05:43] lukesampson commented on #315
We need to have it work for non-administrator users, and installs should be non-interactive for administrators too—so I don't think the `sudo` calls in `post_install` are going to work.

[2015-03-31 05:43] lukesampson commented on #315
I'm thinking this might be a wontfix.

[2015-03-31 06:06] deevus commented on #315
Not so fast!

[code]

I'm onto something here.

[2015-03-31 06:08] guillermooo commented on #315
Yes, it should be possible to adjust the Registry fort the current user only. Thanks for investigating!

[2015-03-31 06:09] guillermooo commented on #315
Maybe this would help in debugging:

1) install regular python
2) install python via scoop
3) modify registry to point to scoop-based installation until it works

And then figure out scoop installation steps required. :)

[2015-03-31 06:10] guillermooo commented on #315
More info:

https://docs.python.org/3/using/windows.html#launcher

[2015-03-31 06:30] deevus commented on #315
WIP deevus/scoop@7aa85bf5118f38d62de01d289963a84f23bdc8b0

[2015-03-31 06:58] deevus commented on #315
I believe this is working now: deevus/scoop@7c8a678e61d7899eee882f46a1e9ebd8c62a062a

Please test on your systems :)

[2015-03-31 08:10] guillermooo commented on #315
Excellent! How can I test this? I don't seem to be able to refer to the .json bucket directly.

[2015-03-31 08:37] deevus commented on #315
You can just download the json files somewhere and `scoop install ./python.json`

[2015-03-31 09:06] guillermooo commented on #315
Awesome! Working great here! :+1:

Thanks, @deevus !

The last thing to check is whether Python modules distributed as .exes work well too.

[2015-03-31 10:10] lukesampson commented on #315
Works for me too.

[2015-03-31 10:55] deevus commented on #315
@guillermooo How does that work?

[2015-03-31 11:42] guillermooo commented on #315
Nevermind. It seems the Python world has switched to .whl.

[2015-04-01 02:29] #315 closed

[2015-04-01 04:47] runlevelsix commented on #107
No, I'm afraid not. And now I've moved over to a Mac.

On Mon, Mar 23, 2015 at 4:54 AM, Simon Hartcher <notifications@github.com>
wrote:

[2015-04-01 05:25] deevus commented on #107
@lukesampson Do we want to keep this issue open?

[2015-04-01 05:34] lukesampson commented on #107
@moshfegh's fix seems like a good workaround if it comes up again, so I'll close it.

[2015-04-01 05:34] #107 closed

[2015-04-04 02:13] deevus opened #319 "Scoop update self using git (exactly like homebrew)"
Would this make it easier to know when scoop needs an update? `git status` tells you when you're behind the remote.

[2015-04-04 02:19] deevus commented on #319
Is it worth considering any of the commands described in the [homebrew faq](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/FAQ.md#faq)?

[2015-04-04 04:31] deevus commented on #319
Had a go at this #320

[2015-04-04 05:44] lukesampson commented on #319
The git update is really nice. I'll leave it to you to merge when you're ready.

Myself, I wouldn't bother adding new commands just because Homebrew has them—I'd wait until there's a clear need. But if you feel like it's a good thing to do, go ahead—I trust your judgement.

[2015-04-05 02:40] deevus commented on #319
Yeah fair enough. We can leave those out until they come up like you said.

[2015-04-05 02:40] #319 closed

[2015-04-05 04:30] deevus opened #322 "Errors when version changes from string to number"
[code]

[2015-04-05 04:54] #322 closed

[2015-04-06 00:31] ntwb commented on #160
This was fixed in https://github.com/lukesampson/scoop/commit/2ad8316764c4f61d90c6f5366f4459520f582eee

[2015-04-06 02:32] ntwb opened #324 "Python & Python27 install issues"
I just tried updating Python (v3.4.2 -> v3.4.3) and Python27 (v2.7.6 -> v2.7.9) and both fail.

For now I had to go back to Python27 v2.7.6 for the install to successfully complete.

In the case of Python27 it is missing the pip installer removed in https://github.com/lukesampson/scoop/commit/2ad8316764c4f61d90c6f5366f4459520f582eee

In the case of Python (v 3.4.x) it appears to be an issue with t

[2015-04-06 09:09] guillermooo opened #325 "vim: :shell throws executionpolicy error"
Scoop default setting:

[code]

This throws an error.

This seems to fix it:

[code]

[2015-04-06 09:09] guillermooo commented on #325
The error occurs when you try to use `:shell`, btw.

[2015-04-06 11:29] deevus commented on #324
https://github.com/lukesampson/scoop/commit/2ad8316764c4f61d90c6f5366f4459520f582eee didn't remove it the pip install. It's on the next line from where it was previously.

Can you post your errors?

[2015-04-06 11:30] deevus commented on #325
I have noticed this as well. Care to make a PR with the solution?

[2015-04-06 11:38] guillermooo commented on #325
Sure. I'll give it a try.

[2015-04-06 12:00] lukesampson commented on #160
Thanks @ntwb, I'll close it.

[2015-04-06 12:00] #160 closed

[2015-04-06 12:28] guillermooo opened #326 "dart: how to check for version against a GET request"
Dart publishes the current version at a GET endpoint.

In a scoop app manifest, where do I put a script that downloads the Json data to check for the version? I've tried to figure this out, but haven't found any example.

Feel free to assign me to this.

[2015-04-07 02:14] deevus commented on #326
It looks like the latest stable version is displayed on their homepage: https://www.dartlang.org/

    CURRENT STABLE VERSION OF DART: 1.9.1

Can we just use that?

[2015-04-07 02:15] deevus commented on #278
@nightire How did you go with this?

[2015-04-07 02:20] deevus commented on #235
@gutierri @lukesampson How about we mark them as experimental as well:
<kbd>php_x64-experimental</kbd>
<kbd>apache_x64-experimental</kbd>

[2015-04-07 03:52] lukesampson commented on #325
Do we need to update the vim.json manifest as well to fix this?

[2015-04-07 04:00] deevus commented on #325
@lukesampson Ah lol that didn't even register :)

@guillermooo Please add this to the `vim.json` manifest file as well.

[2015-04-07 05:51] nightire commented on #278
@lukesampson @deevus

[code]

OS: Windows 8.1

[2015-04-07 09:02] lukesampson commented on #235
Hmmm, I can see the value in showing that it's experimental, but it seems a bit hard to type. I think it's nice to read too when apps have nice short names rather than be too verbose.

Another downside of making it too explicit that this is 64-bit is that if you're looking through the list of apps and see `php_x64` you might think "where's the 64-bit mysql?" or something similar.

And I can't see

[2015-04-07 10:35] ntwb commented on #324
The following is for Python (v3.4.3)

[code]
Then the python.exe crash notice appears:
![scoop-python](https://cloud.githubusercontent.com/assets/1016458/7021439/d47e6c18-dd64-11e4-9557-6ec7d1fcff44.png)

Close that, and the following finishes up the error log:
[code]

[2015-04-07 23:35] lukesampson commented on #324
Is it because your `PYTHONPATH` environment variable is set? If it is, can you try removing it altogether and re-installing? This seems to be the recommended solution for that [Py_Initialize error](https://www.google.com.au/search?q=Py_Initialize%3A+unable+to+load+the+file+system+codec).

[2015-04-08 01:59] ntwb commented on #324
:hankey:, yes, I indeed had both `PYTHONPATH` and `PYTHONHOME` defined in my `.profile.ps1`

Thanks, all resolved now, both Python and Python27 sucessfully installed :)

[2015-04-08 01:59] #324 closed

[2015-04-08 02:12] #325 closed

[2015-04-09 01:54] gutierri commented on #235
We need conventions!

[2015-04-09 02:13] deevus opened #330 "Signing of Scoop Powershell Scripts"
I think we need to look into getting the scripts signed so that we don't need to change the execution-policy. I'm not sure what the process is or how hard it is but it has come up here: https://discuss.atom.io/t/install-atom-on-windows-with-scoop/15416/5

[2015-04-09 02:51] lukesampson commented on #235
Why's that? I agree conventions are good, but creating them for situations that are rare is counter productive because it's just another rule we have to remember. Do you disagree with my points? I'm open to persuasion, I just need arguments to convince me that forcing people to use clunky app names is worth it.

[2015-04-09 03:20] gutierri commented on #235
I think of something as simple as what already was. Packages 64bit "namehere_x64". Simple and perhaps solve our problems.

Or create an option when installing

@lukesampson?

[2015-04-09 04:05] lukesampson commented on #235
There already is an option when installing to choose your architecture, with the `--architecture` or `-a` flag. Scoop automatically gives you the best architecture for your system if you don't tell it otherwise.

There is a bit of backstory here, I'll go over it again. The thing with PHP is that their 64-bit builds are experimental so are not recommended for production use (last I checked). We don

[2015-04-09 04:09] lukesampson commented on #330
Man, if you can work out how to do it without it being a pain every time we need to make changes to the codebase, then that'd be great.

My (perhaps irrational) view is that Powershell comes broken out of the box, and set-executionpolicy is the only way to make it useable. If you can find a way to ease other people's concerns then, awesome!

[2015-04-09 04:09] moigagoo commented on #235
@gutierri I totally agree with @lukesampson. A convention like this creates more problems than it solves.

In fact, is there really a problem? Does the name php64bit really hinder anyone's workflow? How's php_x64-experimental better? Is x64 more informative than 64bit, and is the experimental bit useful?

Honestly, I can't see reasonable answers to these questions.

[2015-04-09 10:08] ntwb commented on #330
I scored myself a free "Open Source Code Signing" certificate last year, it expires in ~6 weeks.

Originally I got it to sign my own .dotfiles and had thought about using it to sign Scoop.

https://www.certum.eu/certum/cert,offer_code_signing.xml
(There based in Poland and getting everything sorted wasn't the easiest because of the language barrier, in the end though everything worked out, though

[2015-04-09 12:18] gutierri commented on #235
OK!
On Apr 9, 2015 1:10 AM, "Konstantin Molchanov" <notifications@github.com>
wrote:

@gutierri <https://github.com/gutierri> I totally agree with @lukesampson
<https://github.com/lukesampson>. A convention like this creates more
problems than it solves.

In fact, is there really a problem? Does the name php64bit really hinder
anyone's workflow? How's php_x64-experimental better? Is x64 more
infor

[2015-04-10 08:05] guillermooo commented on #326
I'm afraid not. This is what `invoke-webrequest` returns:

[code]

[2015-04-10 19:59] sunitjoshi opened #335 "Emacs app"
Is there an emacs app available yet for scoop?

thanks
sj

[2015-04-11 00:03] #326 closed

[2015-04-11 00:08] lukesampson commented on #326
checkver just downloads a URL and uses a regular expression to find the version string, so it works with JSON as well as HTML. There's an extended syntax if you need to check a different URL to the homepage—there's a bit more info [here](https://github.com/lukesampson/scoop/wiki/App-Manifests) under `checkver`.

[2015-04-11 01:27] deevus commented on #335
Yes, it's in the extras bucket

[code]

[2015-04-11 01:27] #335 closed

[2015-04-11 23:57] #235 closed

[2015-04-12 00:41] gutierri commented on #235
:)
On Apr 11, 2015 8:57 PM, "Luke Sampson" <notifications@github.com> wrote:

[2015-04-12 08:37] deevus commented on #330
@ntwb I just signed up for the same certificate, although I haven't gone any further than downloading the cert files.

[2015-04-12 13:26] deevus commented on #196
@ddamico can you please see if this is fixed for you?

[2015-04-13 15:22] ddamico commented on #196
Yup, just gave it a try and the issue seems to be gone. Thanks very much!

[2015-04-13 23:34] deevus commented on #196
You're welcome

[2015-04-13 23:34] #196 closed

[2015-04-17 16:20] nightroman opened #339 "All cmd shims created for Invoke-Build have a mistake"
The problem may be common for all shims created for PowerShell scripts. But I
have noticed it for Invoke-Build, so I explain it just for Invoke-Build.

Let's take a look at *invoke-build.cmd*

    @powershell -noprofile -ex unrestricted "& '...\scoop\apps\invoke-build\2.9.14\Invoke-Build.ps1' %*;exit $lastexitcode"

For Invoke-Build the correct shim would be

    @powershell -noprofile -ex unrestr

[2015-04-17 16:49] nightroman commented on #339
From the top of my head, I would simply remove `exit $lastexitcode` from PowerShell cmd shims. Leave this to scripts. It's their responsibility to care of the exit code of this matters. They have plenty of ways

- Write an error or throw for exit code 1.
- Work normally for exit code 0.
- Use `exit X` to exit with explicit code.
- Use `$host.SetShouldExit(X)`.

[2015-04-17 22:48] lukesampson commented on #339
Hi Roman, thanks for looking at this.

I've just done some tests to try to confirm the behaviour you're talking about, and the potential problems didn't actually cause problems in practice, whereas removing the `exit $exitcode` did reduce the functionality.

There are a couple of things to point out:

* The .cmd shim should only be invoked from DOS sessions. Powershell sessions should favour the .

[2015-04-18 05:45] nightroman commented on #339
Mixing PowerShell and CMD is pain at times. Nevertheless, it would be useful to
investigate and come to a correct approach. Here is three experiments.

They show that in PowerShell `exit X` does not exactly gets X. But
`SetShouldExit(5)` does. So there is a way to set the exit code exactly.
The third test shows that this correctly set 5 is eliminated by `exit $LASTEXITCODE`.

#### `exit 5` results

[2015-04-18 07:05] lukesampson commented on #339
Sorry, I'm not really following why we're talking about `$host.setShouldExit(x)`—from what I can tell this is a request to terminate the host runspace, not to return an exit code for a script.

We want people to be able to write powershell scripts without needing to worry about whether they're executing in the context of a scoop shim or not, so calling `exit x` is what needs to work I think. And i

[2015-04-18 08:40] nightroman commented on #339
Probably we are talking about different scenarios. Let's forget then about `$host.setShouldExit(x)`. Personally, I never use it.

I just explained how `exit $lastexitcode` may get incorrect result for `Invoke-Build` (read some PowerShell scripts). It is not a problem for me, I am not going to use cmd shims. But some people may use them and rely on their exit codes. They may be incorrect, namely, n

[2015-04-18 08:49] nightroman commented on #339
It's not ok. The last exit code may be not zero but script works just fine (i.e. with robocopy). I do not think many scripts care of resetting exit codes. I am not sure what it is. What do you mean?

[2015-04-18 09:43] nightroman commented on #339
P.S. I do not want to disturb too much. If you think all is fine for designed
scenarios then just close the issue. As I said, for me the issue is academic.
But it was useful think of this one more time. In particular I have found one
more PowerShell [oddity](https://github.com/nightroman/PowerShellTraps/tree/master/Exit-code-depends).

[2015-04-19 03:58] lukesampson commented on #339
Hi Roman, thanks again for looking at this. I will close it for now, but if we can find a case where it's causing problems then we can re-open it again. It's an interesting behaviour that you've found—thanks for pointing it out.

With the robocopy thing, I just meant that if a target script that calls robocopy doesn't care about setting it's own exit code, then it's ok if we don't clean that up. W

[2015-04-19 03:58] #339 closed

[2015-04-20 04:37] deevus opened #340 "Building from source"
Proposal
--

We add the ability to compile programs from source.

`scoop install hello --source`

The app manifest has a `formula` key which points to a ps1 file containing instructions on how to build from source. It is expected to be alongside the json manifest.

Why?
--

* Nothing like this exists for Windows
* If you don't trust the binary distribution you can compile from source instead
* It'

[2015-04-20 08:35] lukesampson commented on #340
What sort of build tool chain would you use, or would it just be "anything goes" with the PS script doing whatever it wants to?

And do you have a specific program in mind?

I agree this would be cool. Personally, I would probably always prefer a pre-built binary over building from source, and I tend to agree with the other why-nots too.

[2015-04-20 10:09] deevus commented on #340
I like the idea of having a set tool chain, however I don't have a particular one in mind. I just really like how Homebrew builds everything from source. I understand that Windows is pretty horrible for that sort of thing... but there's no shame in working to change that.

[2015-04-20 10:51] lukesampson commented on #340
Yeah it could be that one of the reasons no-one builds from source on Windows is because it's really hard. I've tried to build a few MinGW things and failed miserably. I got [rust](http://blog.lukesampson.com/rust-on-windows) to build but only because I used MSYS which is kind of unsatisfying.

I'm not against the idea though. Do you think it's worth trying to put together a standalone script that

[2015-04-20 10:54] deevus commented on #340
Yeah I was going to look into getting GNU Hello building. That project is built to test your build environment. I think if I can get something that can build that... most of the hard work will be done.

[2015-04-20 12:20] scottwillmoore commented on #340
I would be interested! I have always considered building a system similar to homebrew for windows, however the amount of effort required as well as decided what tools to develop it with has always put me off. I have always been jealous of homebrew and other OS X tools which Windows never seem to have; as well as bad C support and even bad C++ support for crossplatform development which Microsoft a

[2015-04-20 12:31] deevus commented on #340
No apologies needed! I'm happy to see some discussion about it. I feel exactly the same way as you regarding Homebrew/Linuxbrew.

I don't really find Powershell too slow once it's running but the start-up time is really bad. That being said I have no problem with choosing another language. I do like that you don't need to install anything to get Scoop running, which is a major plus since Windows p

[2015-04-20 12:33] deevus commented on #340
Perhaps something to consider is that Windows apps being built from source would need to support a range of different build systems. That would probably be a major requirement to get this working for a great catalogue of apps.

[2015-04-20 12:51] scottwillmoore commented on #340
Interesting. Yeah I was going to mention PowerShell bootstrap could be used to get the system installed if we required a language such as ruby or python. The winbrew project is pretty awesome, while the Visual Studio requirement could be annoying for some (especially with the size of the current community edition which is in the gigabytes) I believe that would be neccessary dependency for a window

[2015-04-21 02:04] deevus commented on #340
@scottwillmoore I wonder if using docker would be viable. Compiling on Windows can be a bitch, so why not set up a docker image and using Docker for Windows, cross compile in the docker container, returning the installation.

[2015-04-21 05:22] deevus commented on #340
Here's a start: https://github.com/deevus/docker-mxe

[2015-04-21 07:25] deevus commented on #340
I got GNU Hello building using MXE and Docker: https://gist.github.com/deevus/40e223b1794017316900

You will need boot2docker and tar installed

[2015-04-21 08:17] scottwillmoore commented on #340
Awesome, I'm not an expert on docker, would you mind explaining how this works? Isn't this creating a Linux container with an cross platform environment/application (not really sure what this is) called MXE which allows you to build software on a linux system for Windows?

I still don't fully understand what MXE does, but do you think there will be complications when building larger applications u

[2015-04-21 13:37] deevus commented on #340
You're pretty much spot on there about docker. MXE is just a bundled mingw
tool chain that builds a lot of stuff itself. The container just gets it to
build gcc and that's it.

I went for docker because it's relatively quick, easy to setup and it's not
cygwin. Docker will probably have native windows support (or close to it)
in future since they've already announced support in the new Windows
Serv

[2015-04-21 20:16] lukesampson commented on #340
This isn't a bug report, but I couldn't get boot2docker to work, sorry. I've never been able to get VirtualBox running inside the Parallels VM I use for Windows.

[2015-04-21 23:07] deevus commented on #340
You can install boot2docker in OSX then configure the docker client in
Windows to talk to it via ip though I'm not sure how the shared folders
will work in that case.
On 22/04/2015 6:17 AM, "Luke Sampson" <notifications@github.com> wrote:

[2015-04-23 09:13] scottwillmoore commented on #340
@lukesampson develops from a Mac through a VM! Thats perfectly fine don't worry :stuck_out_tongue:, for some reason it just made me laugh.

I'll see if I can check out TDM-GCC, MSYS and MSVC this weekend, but I assume MSVC will be awesome if we get it working, but we will not get it working due to lack of support by developers. Yeah for now I don't think Cygwin is a good idea, it just sounds like

[2015-04-29 15:36] sarbazx commented on #278
uninstall vim then install vim again this worked for me :)

[2015-05-02 13:45] nightroman opened #349 "scoop does not show the information about added path"
I have found this minor issue on testing this [PR](https://github.com/lukesampson/scoop/pull/348). It proposes to replace "bin" (shims) with "env_add_path" (adding to the path) in *invoke-build.json*.

With "bin" (shims) scoop tells what shims are installed:

    installing invoke-build (2.12.0)
    loading http://nuget.org/api/v2/package/Invoke-Build/2.12.0#.zip from cache...
    checking hash...

[2015-05-03 09:43] vertti opened #350 "GOW fails ton install due to wrong hash"
[code]

[2015-05-03 10:53] #350 closed

[2015-05-03 13:32] nightroman opened #351 "Short internal function names may clash with aliases defined in a session"
Original case. A build script for Invoke-Build contains the task *update*:

    task update {
        scoop update
    }

This task fails with an error

    Invoke-BuildExec : Cannot process argument transformation on parameter
    'Command'. Cannot convert the "update" value of type "System.String" to
    type "System.Management.Automation.ScriptBlock".

    At ...\scoop\apps\scoop\current\bin\sc

[2015-05-04 06:33] deevus commented on #351
Thanks for explaining this. We ran into a similar problem in #183

So if the function name is something that will stay unique, it can have a short alias that won't be overwritten by user aliases?

[2015-05-04 06:36] deevus commented on #351
For example in Scoop the code relies on aliases for system commands such as `ls` and `rm`. We opted to use script level functions `function script::ls { get-content @args }`. Should we instead be just setting an alias `set-alias ls get-content` instead?

[2015-05-04 06:38] lukesampson commented on #351
@deevus were aliases not the first thing you tried for #183?

[2015-05-04 06:44] deevus commented on #351
@lukesampson Yeah I thought they were. Perhaps it only works for aliases that aren't AllScope?

[2015-05-04 06:49] deevus commented on #351
[code]

[2015-05-04 06:53] deevus commented on #278
Sorry @nightire I'm just not able to reproduce this. I would suggest that you reinstall scoop and give this another shot with a clean install.

[2015-05-04 06:53] #278 closed

[2015-05-04 08:07] nightroman commented on #351
@deevus

Yes, unless a user defines some weird aliases like read only for all scopes. But in such a case he knows what he is doing and responsibility is his own.

Function names do not have to be unique. They just should have some names that unlikely used for aliases (user functions in parent scopes with same name is not a problem). This approach is not 100% bulletproof. There is always a way to b

[2015-05-04 08:24] nightroman commented on #351
@deevus

This is something different and I cannot answer confidently. I do not have experience because in scripts I do not use aliases of built-in commands.

[2015-05-04 08:52] nightroman commented on #349
And a similar note about added / removed environment variables (`"set_env"`). It all works fine (added, removed), scoop just does not show these bits of information.

[2015-05-04 22:55] lukesampson commented on #349
One of the goals of scoop is not to pollute your path with all the programs you install, so that's why there are shims and the shim directory is in your path already.

I think it's helpful to see in the output what new commands are available, but it's less useful to see that a path was added—there's not much information that end users can act on.

As a package author you might be interested to see

[2015-05-04 22:55] #349 closed

[2015-05-05 04:32] nightroman commented on #349
No problem at all

I just would like to add that I am interested in this information not as a package author. I'd like to know what changed on installation of apps because this gives me a tip on how to use the tool. If scoop tells me that a path is added then I go to this path and see the available commands. If it tells me nothing I have to guess.

[2015-05-05 09:57] dre1080 opened #354 "Allow running in git bash"
Currently, running scoop in git bash fails. Possible to allow running inside git bash like chocolatey?

[2015-05-05 10:36] deevus commented on #354
Hi there

Can you provide some more information? What happens when you try to run Scoop inside Git Bash?

Thanks

[2015-05-05 10:41] deevus commented on #220
@jayandrewallen Did you end up getting past this?

[2015-05-05 11:55] dre1080 commented on #354
I'm running Windows 8.1, Git 1.9.5

When I try run `scoop help` in Git bash:
[code]

In the `shims` directory, there's only `scoop.cmd` and `scoop.ps1` file.

When I run `scoop.cmd help` in Git bash:
[code]

The new `choco` command can run in cmd and Git bash.

[2015-05-05 12:59] deevus commented on #354
This seems to be an issue with evaluating commands in Bash. Git Bash happily executes exe files without having to explicitly say "powershell.exe" but this is not so for ps1 files.

Please try putting the following in your `~/.bash_profile`:

[code]

You'll need to restart Git Bash or run `source ~/.bash_profile`

[2015-05-05 13:02] deevus commented on #354
@lukesampson What do you think about adding the above to `bash_profile` by default?

[2015-05-05 21:08] lukesampson commented on #354
That sounds good, @deevus.

[2015-05-06 05:37] #220 closed

[2015-05-09 13:42] deevus commented on #354
@dre1080 If you haven't fixed this yet, update scoop (`scoop update`) and run `scoop reset scoop`

Scoop should then work in Git Bash

[2015-05-09 15:07] nightroman commented on #354
Does this mean that on every machine scoop creates or updates this file? If yes, is not it a little bit intrusive? scoop is nice because it is not intrusive, it is the important feature.

Some people do not use bash and may not want to have this file (me). Some people use bash and may not want their profile to be updated without their consent. Just a thought...

[2015-05-09 15:18] nightroman commented on #354
If the existing file does not have the last empty line then the above command appends to the existing line and potentially makes the file incorrect.

[2015-05-10 02:04] deevus commented on #354
@nightroman You're probably right. @lukesampson what do you think?

[2015-05-10 02:06] deevus commented on #354
I've reverted #355 so we can discuss since you make a good point

[2015-05-10 03:39] deevus commented on #354
@nightroman I've talked it over with @lukesampson and we think the best option would be to document it only to avoid being intrusive.

I was a little overzealous and for that I apologise :)

[2015-05-10 03:58] deevus commented on #354
@nightroman @dre1080 [Can I Use Scoop In Bash?](/lukesampson/scoop/wiki/Can-I-Use-Scoop-In-Bash%3F)

[2015-05-10 03:58] #354 closed

[2015-05-10 04:13] deevus opened #358 "scoop which <app> fails to find scoop shims"
This is run using a new install of Scoop in a VM

[code]

[2015-05-10 04:13] nightroman commented on #354
@deevus , thank you, I also think a wiki page is a good solution.

I would suggest to change the alias from

[code]

to

[code]

(like in *scoop.cmd*). At least `-noprofile` is the important bit. A user profile may contain something that may alter scoop work.

[2015-05-10 04:18] deevus commented on #354
@nightroman I've updated the wiki page. Thanks!

[2015-05-11 03:42] lukesampson commented on #358
It's from #338 where the shim quotes were changed from single to double to handle single quotes in usernames.

[2015-05-11 03:42] #358 closed

[2015-05-11 03:46] deevus commented on #358
@lukesampson Ah yeah I wondered if that change would have a roll-on effect anywhere. This is probably a good candidate for a test.

[2015-05-20 23:06] jedahu opened #364 "Shims are overwritten without warning"
1. Install gow.
2. Install grep.
3. grep.shim now points to grep.exe from grep and not grep.exe from gow.

[2015-05-20 23:24] lukesampson commented on #364
Yes, some packages do offer the same executables, so the latest installed one will take precedence.

In this case you could run `scoop reset gow` and the `grep` shim should be reset back to gow's version.

[2015-05-21 07:40] d3relict opened #365 "hash check fails when installing pshazz"
checking hash...hash check failed for https://github.com/lukesampson/pshazz/archive/3b7b426320e42718b7ef3b0ebf9bbe06c6ee0430.zip. expected: 775c08d753b33ae53e03d2ef22debe6f352dd5e4abeeb7284441f7194756d0f3,
actual: b8ee4ccffa719bbe97b47856457592f13ce4103e92b6bb41ff421a00f21bb08a!

[2015-05-21 09:08] #365 closed

[2015-05-21 09:09] lukesampson commented on #365
Sorry about that, thanks for letting us know :+1:

[2015-05-25 16:32] cng-thg opened #371 "Move git-preview from scoop-extras to scoop"
If you need to install git, the git app available in scoop list is git which install msysgit 1.9.5-preview, which I think is a really old version of git.

scoop-extras bucket has a git-preview app which install git for windows 2.4.0, a much for newer version  (the latest git version is 2.4.1).

The only problem I found is that if you wish install git-preview you need add scoop-extras bucket first

[2015-05-25 22:40] guillermooo opened #373 "potential issue related to user-defined ps providers"
If the user has configured a PS Provider for the filesystem and it is the location returned by `get-location` when `scoop install xxx.json` is used, `scoop` may fail to locate the manifest.

Example: https://github.com/lukesampson/scoop/pull/372

[2015-05-27 03:40] deevus commented on #371
You're right. 1.9.5-preview is a very old version of git. However for a long time it was the only stable version available.

We have been testing the newer builds of git under `git-preview` in scoop-extras to make sure it is ready to move to the main bucket.

Check out our discussion here: https://github.com/lukesampson/scoop-extras/pull/86

[2015-05-27 03:41] deevus commented on #371
@lukesampson Does the latest version of `git-preview` solve your issue with ssh-agent?

[2015-05-27 07:08] lukesampson commented on #371
No it still doesn't work, unfortunately. I'd be ok with making the preview version the new `git` and moving the current version to `git19` though, if you want?

[2015-05-29 08:49] azuwis opened #375 "Fail to install coreutils, `can't shim bin\basename.exe: file doesn't exist`"
[code]

[2015-05-29 10:51] lukesampson commented on #375
Are you using a custom file system provider in powershell, or anything that might affect the resolution of file system paths?

I've re-checked the coreutils install and it works fine for me.

[2015-05-30 04:13] deevus opened #376 "Robocopy is not always in PATH"
Having been a personal advocate of Scoop to several of my friends, I have been told this issue multiple times, even though I haven't experienced this myself.

After installing Scoop and trying to `scoop install` something, Robocopy can't be found.

I'll see if I can get them to come and give more information in this thread.

[2015-05-30 04:15] beaurepair commented on #376
Adding C:\Windows\System32 to the path seems to fix this issue

[2015-05-30 04:15] deevus commented on #376
@beaurepair Is Powershell running as Administrator? What OS are you using?

[2015-05-30 04:29] deevus commented on #376
@lukesampson It seems odd that `C:\Windows\System32` wouldn't be on the `PATH`. I think in every case `Robocopy.exe` should be there, so perhaps if `gcm robocopy` fails we can address it with an absolute path and `shim` it?

[2015-05-30 04:37] #364 closed

[2015-05-30 04:38] deevus commented on #371
Yeah @lukesampson I'm happy to as well. Would @cng-thg be happy to submit the PRs?

[2015-05-30 05:10] azuwis commented on #375
No, I use the following commands, just as http://scoop.sh/ show:

[code]

It's weird. I'd just tried again today, without any modification/configuration, and it worked.

[2015-05-30 05:10] #375 closed

[2015-05-30 05:17] TylerHaigh opened #377 "Scoop Reinstall Software"
After having an issue with spacemacs, I uninstalled and reinstalled emacs and it worked

It would be a good feature to have a simple script to reinstall something (unlike reset) using `scoop reinstall foo` which calls

[code]

Which would be a snap since scoop could then install from cache

[2015-05-30 06:43] deevus commented on #377
After thinking about this a bit... I think that it could be solved using user aliases ([like git does aliases](https://git-scm.com/book/en/v2/Git-Basics-Git-Aliases)).

### Option 1

Something like `scoop config alias.reinstall "scoop uninstall {0}; scoop install {0}"` which can then be executed using `scoop reinstall foo`

### Option 2

Create a command `scoop-alias` used like `scoop alias reinst

[2015-05-30 06:45] deevus commented on #377
As a personal motivation, I always accidentally run things like:

[code]

Which obviously don't work.

[2015-05-30 06:45] lukesampson commented on #376
@deevus Yes that's a great idea.

[2015-05-30 06:54] lukesampson commented on #377
@deevus that sounds good to me. I'm thinking option 2 would be easier, and would allow us to have some command-line help, with examples. What do you think?

[2015-05-30 07:37] deevus commented on #377
Yeah no worries I'll have a look :)

[2015-05-30 14:07] nightroman commented on #351
#360 works fine so far. The original problem case is definitely resolved. I close the issue. Thank you!

[2015-05-30 14:07] #351 closed

[2015-05-31 02:07] beaurepair commented on #376
@deevus Windows 8.1. Powershell was not run as administrator but I doubt that's relevant.

[2015-06-01 00:15] #376 closed

[2015-06-01 00:31] #377 closed

[2015-06-01 02:06] lukesampson opened #382 "Shims should pass "raw" arguments, without stripping quotes"
See lukesampson/scoop-extras#97 and rust-lang/cargo#1661

[2015-06-01 11:39] lukesampson commented on #382
I haven't been able to find a way to invoke the actual `rustc.exe` (not the shim) that handles the `--cfg feature="default"` sort of argument.

`test.ps1`:
[code]

`test.rs`
[code]

Running `./test.ps1` gives the same error seen in rust-lang/cargo#1661:

[code]

Which is the same error seend when invoking `rustc test.rs --cfg feature="default"` directly.

I'm giving up on this for now—making sure

[2015-06-02 16:04] anurse commented on #382
Thanks for taking a look at this!

[2015-06-03 12:39] #382 closed

[2015-06-03 12:54] lukesampson commented on #382
It turned out cargo was passing arguments like `--cfg feature=\"default\"` but the shim was turning this into `--cfg feature=default`. Should be fixed now!

[2015-06-04 03:19] deevus opened #385 "scoop-alias"
Need documentation for the `scoop-alias` command

[2015-06-04 05:12] nightroman opened #386 ""scoop install ?" triggers unexpected installation"
Out of curiosity I typed in the PowerShell console

    scoop install -?

The result was an error

    parsing "?:?" - Quantifier {x,y} following nothing.
    At ...\scoop\apps\scoop\current\lib\getopt.ps1:49 char:8
    +                 if($shortopts -match "$letter`:?") {

Fine, this form of getting help is not supported.

The next command I tried was

    scoop install ?

In this case scoop sta

[2015-06-04 06:15] deevus commented on #386
This cracked me up. It shouldn't work I don't think.

[2015-06-10 21:17] bcomnes opened #389 "IRC channel?"
Does scoop have an IRC channel on freenode?

[2015-06-10 22:14] lukesampson commented on #389
We don't, sorry.

[2015-06-10 23:55] bcomnes commented on #389
Sitting in #scoop right now, if anyone from scoop wants it, otherwise, I'll just hang out till others come? 🍻

[2015-06-13 15:29] nilkesede opened #391 "Update link of php"
The current link of php return 404 error and dont install it. Set to 5.6.10 and will be fine

[2015-06-13 21:30] lukesampson commented on #391
Fixed by #392

[2015-06-13 21:30] #391 closed

[2015-06-14 01:12] jrock2004 opened #394 "Losing themes are reload"
I have installed and setup the solorized theme but if I close out of powershell and reopen its not showing that theme and I need to re-run the config command

[2015-06-14 12:34] lukesampson commented on #394
This is for `concfg` right? Make sure you `sudo concfg import solarized` and choose 'Yes' when it asks

[code]

The registry and .lnk file that you use to start Powershell can have their own settings so doing it this way should clear them out.

[2015-06-19 05:28] deevus opened #397 "null-valued expression calling `scoop update *`"
[code]

[2015-06-28 15:22] guillermooo opened #405 "scripts for updating manifests"
I've created a script to update the Dart manifests, see https://gist.github.com/guillermooo/f579fdb84aab4bc488da.

Would it be a good idea to consolidate such scripts in one repo? Could scoop _one day_ update manifests by running such scripts?

[2015-06-30 13:43] BlueBeN82 opened #408 "NFS Client for Windows"
As i'm really new to all this: Is it possible to integrate the following nfs client into scoop
https://www.cohortfs.com/project/windows-nfs-clients

When trying to install manually i've got problems with the certificate.

[2015-07-01 04:10] lukesampson commented on #408
Hi, the closest I can get is this:

[code]

But the file extraction fails, I'm guessing it's something that 7-zip doesn't like about the Nullsoft installer exe.

Scoop doesn't really run install/setup programs by the way. It can be done, but it's not really a good end-user experience.

[2015-07-01 04:35] deevus commented on #408
I don't think it will work. You need to install a driver to mount the NFS volumes. That doesn't fit within Scoop's constraints.

[2015-07-01 10:25] Zougi opened #409 "How do I tell people I made a new bucket!?"
It'd be great that we get a website to share our bucket, like npm &  npmjs.com !

[2015-07-02 01:21] deevus opened #410 "Nodejs broken?"
[code]

[2015-07-02 08:19] #408 closed

[2015-07-02 08:21] deevus commented on #405
This is cool. I think this could be generalised to work with every manifest.

[2015-07-03 21:25] MrException commented on #229
Were any of you able to make progress with this? I would love to be able to install VirtualBox like this.

[2015-07-09 05:50] nishanthkarthik opened #416 "can't shim : file doesn't exist"
This is my manifest,

    {
        "homepage": "https://github.com/nishanthkarthik/netaccess-infiauth",
        "license": "https://raw.githubusercontent.com/nishanthkarthik/netaccess-infiauth/master/LICENSE",
        "version": "1.0.1",
        "architecture":
        {
            "32bit|64bit":
            {
                "url": "https://github.com/nishanthkarthik/netaccess-infiauth/releases

[2015-07-09 06:22] lukesampson commented on #416
You don't need the `architecture` stuff if it's the same for both, just put `url` and `hash` at the top level. Also `extract_dir` is a directory inside the .zip that you want to extract (rather than extracting everything from the zip). I don't think `netaccess-auth` is a directory inside the .zip, so you can just leave that out.

This should work:

[code]

[2015-07-09 06:28] nishanthkarthik commented on #416
Brilliant! Thanks.

[2015-07-09 06:28] #416 closed

[2015-07-17 03:08] derrikcurran opened #427 "Can Scoop (or at least the apps) be made portable?"
I'd like to be able to move the entire Scoop directory (including apps) to another machine without needing to worry about the shims pointing to the wrong locations. I have a development environment set up in a folder synced by Dropbox. It would be really nice to have every app I install via Scoop available on every computer I use just by adding the shims folder to my path.

[2015-07-17 03:22] lukesampson commented on #427
You can set the scoop install directory with `$env:SCOOP` [see here](https://github.com/lukesampson/scoop/issues/249).

If you can handle re-installing everything, you'd just uninstall scoop (`scoop uninstall scoop`), set `$env:scoop` to the new path, then re-install scoop.

If you've already installed apps under the default directory and you want to keep them, you'll need to update the shims afte

[2015-07-17 03:58] derrikcurran commented on #427
Thanks. I did get that far (though `scoop reset [app]`) hadn't occurred to me.) I suppose I can just write a script to do all that each time I switch machines. Would it be feasible to just generate the shims based on $env:SCOOP?

[2015-07-17 04:04] lukesampson commented on #427
I was thinking you'd make your dropbox folder path the same, so that you'd only have to do this once. It's safer and better performance to have the shims not use the environment variable.

[2015-07-17 16:30] derrikcurran commented on #427
Ah ok. The problem is that I'm forced to put Dropbox on different drive letters depending on the machine. Now that I think of it, this can be solved with symbolic links. Maybe it's too narrow a use case to mess with the shims. That said, It might be worth noting that using relative paths in the shims seems to work well. e.g. `$path = $PSScriptRoot + "\..\apps\vim\7.4\vim.exe"`.

[2015-07-17 23:49] ReadyP1 opened #428 "Scoop won't install"
When I try running the command given to install ```scoop```, PowerShell tosses me the following (sorry for bad image quality):

![error](http://techieboy45.tk/error.jpg)

What's up here? I already ran the ```set-executionpolicy``` (which, by the way, needs ```cu``` to be changed to ```currentuser``` or else it gives a fatal error) command.

[2015-07-17 23:51] deevus commented on #428
@ReadyP1 It looks like you're using Powershell 2. If you can, upgrade to Powershell 3.

If not, there is a version of Scoop for Powershell 2, but it's not what you would call stable.

[2015-07-18 00:00] ReadyP1 commented on #428
@deevus I tried to download WMF 3, but for some reason, it doesn't download. Trying again doesn't help. Is there some sort of direct download link I can get? I'm running Win7 SP1.

[2015-07-18 00:11] ReadyP1 commented on #428
@deevus Never mind that download thing. Got it working.

[2015-07-18 01:02] deevus commented on #428
No worries.

[2015-07-18 01:02] #428 closed

[2015-07-22 23:03] chidumaga opened #433 "PG::ConnectionBad error for Postgresql installation with Scoop"
I used Scoop to install Postgresql on my Windows 7 machine. When I try to start up the Rails app for which Postgres was installed I get the following error:

```could not connect to server: Connection refused (0x0000274D/10061) Is the server running on host "localhost" (127.0.0.1) and accepting TCP/IP connections on port 5432? could not connect to server: Connection refused (0x0000274D/10061) Is t

[2015-07-23 01:42] lukesampson commented on #433
Scoop doesn't automatically create a Postgres data directory, so you need to do this yourself. And you also need to start the postgres database manually from the command line. It should be pretty easy to do though...

[code]

`initdb` creates a `postgresql.conf` for you—in this case it will be at `\pgsql\postgresql.conf`.

If you want to go further and run PostgreSQL as a windows service, try this

[2015-07-24 01:48] deevus commented on #427
I've personally looked at this with a version of Scoop running on a flash drive. If shims were relative, it would be much easier.

@lukesampson Do you see any problem with shims being relative when generated by Scoop?

[2015-07-24 01:52] lukesampson commented on #427
I think that would be ok if shims are relative.

[2015-07-24 01:53] lukesampson commented on #427
Would probably need to update `scoop which` as well though.

[2015-07-24 02:16] deevus commented on #410
Resolved with v0.12.6

[2015-07-24 02:16] #410 closed

[2015-07-24 02:18] deevus commented on #409
You can add it to `buckets.json` in this repo. At the moment there's no way to list what buckets are available to install, but that would be an easy fix if someone wanted to do it.

[2015-07-24 02:21] #389 closed

[2015-07-24 03:45] deevus commented on #386
Well this is interesting. It appears that Powershell automatically filters paths with `?` in them such that the `?` matches any character. So, `get-childitem ?.json' from the bucket directory matches `R.json` for me.

[code]

[2015-07-24 04:35] #386 closed

[2015-07-26 07:12] #409 closed

[2015-07-26 07:23] deevus commented on #371
Fixed in fc9b7f9308a15f6e2a1334f26e3727e00bd4298b

[2015-07-26 07:23] #371 closed

[2015-07-26 08:16] deevus commented on #229
I'm going to go with this is never going to work. You need to install drivers which requires elevated privileges.

[2015-07-26 08:16] #229 closed

[2015-07-26 08:17] deevus commented on #330
I think we can all agree this isn't going to happen with the current design.

[2015-07-26 08:17] #330 closed

[2015-07-26 08:17] #397 closed

[2015-07-27 08:50] deevus opened #442 "`scoop which` fails for functions with Scoop aliases"
[code]

This should resolve to busybox which is a scoop shim.

[2015-07-27 08:56] #442 closed

[2015-07-28 14:29] nightroman opened #444 "Manifests with relative paths (feature)"
Would it be possible to allow manifests with relative paths to sources, i.e. local zip files? Right now only full paths are supported.

Use case: I have some local tool packages with known locations and all I want is to install and uninstall them easily with scoop. It would be nice if I can keep a scoop manifest together with a tool archive, hence a relative path is needed.

[2015-07-29 03:10] deevus commented on #444
This doesn't really fit with the term `url` so my initial thought would be to add a `path` field where either `url` or `path` must be present.

I'm not quite convinced this is really a necessary feature however.

Thoughts @lukesampson?

[2015-07-29 05:32] nightroman commented on #444
A special field would be even better.

It is not necessary. But scoop is not necessary, too. Still they makes things easier.

[2015-07-29 08:33] chidumaga commented on #433
Thanks for your answer. Do you mind briefly explaining why the database needs to be started manually? Just installing and configuring Postgres seemed to have done the trick.

[2015-07-29 08:59] lukesampson commented on #433
If you install Postgres with Scoop it just puts the executable files (like `postgres.exe`) in your path — it doesn't configure anything for you, register a Postgres server service, or start the database running for you. That's why I assumed you would need to create a data directory and start the server program manually.

If you install Postgres with their official GUI installer it will do this stu

[2015-07-29 14:48] #427 closed

[2015-08-01 10:58] shustariov-andrey opened #445 "Ant bucket is outdated"
http://mirror.ventraip.net.au/apache//ant/binaries/apache-ant-1.9.4-bin.zip, which is specified in ant bucket - returns 404. 1.9.5 and 1.9.6 versions are available.

[2015-08-02 00:55] #445 closed

[2015-08-04 16:29] nkm8 opened #447 "New git doesn't save ssh passphrase"
It looks like the fix was here:  https://github.com/lukesampson/scoop-extras/pull/88

However, after git was updated here: https://github.com/lukesampson/scoop/issues/371 the functionality to save the ssh key passphrase is no longer working correctly.  Is there an alternative fix or does the above change need to be merged into the `scoop` repo?

EDIT: Confirmed that this is not an issue with git19

[2015-08-05 08:20] loostro opened #448 "How to uninstall scoop?"
I'd like to uninstall scoop and cleaup any changes it made. How to do this?

[2015-08-05 08:27] lukesampson commented on #448
The command is `scoop uninstall scoop`—this will remove any programs you installed with Scoop, and Scoop itself.

[2015-08-05 08:30] loostro commented on #448
@lukesampson Thanks.

[2015-08-05 08:30] #448 closed

[2015-08-05 23:15] chidumaga commented on #433
Thanks for your response @lukesampson. I did install with Scoop initially but did not do all the configuration that you mentioned and that's why I was running into those problems. After installing the GUI and editing the `postgres.conf` file everything worked perfectly.

Doing a GUI-only installation means you can't use postgres in the command line doesn't it? That's why I did it both ways; one th

[2015-08-07 06:40] deevus commented on #447
The problem I have with that fix is that it will replace the user installed shims for `ssh*`. It would be better if it could work with the users version of `openssh`

[2015-08-07 10:15] deevus commented on #126
Excuse me if I'm simplifying this too much, but why not store data in `scoop/data/app`? This way we don't need to have a concept of travelling directories. In most cases it wouldn't need to be on the path and can be specified in config.

[2015-08-07 14:38] lukesampson commented on #126
I guess that would work for some programs, but how would we do the config?
Powershell scripts in post_install? I'm thinking this could get quite
complicated for maintainers, although it might simplify things from our
side. I think the maintainers' experience is more important to simplify.
On Fri, 7 Aug 2015 at 11:15 am, Simon Hartcher <notifications@github.com>
wrote:

[2015-08-08 01:49] deevus opened #451 "Clear criteria for main bucket"
As mentioned in lukesampson/scoop-extras#112 ragel was added to extras since phantomjs and latex were already here.

I thought this might be a good chance to reconsider any apps that could be better off in the main bucket, but I think we first need to be clear about what the criteria for the main bucket is.

Here's what I gather apps need to be:
- Open source (and have a license)
- Command line (n

[2015-08-08 07:26] lukesampson commented on #451
Stable versions only
On Sat, 8 Aug 2015 at 2:49 am, Simon Hartcher <notifications@github.com>
wrote:

[2015-08-13 18:51] beejasaurus opened #458 "Apache install results in 404 error"
I tried installing apache, but it gave me the following error:
[code]

It appears the path needs to go to either:
- https://www.apachelounge.com/download/VC14/binaries/httpd-2.4.16-win64-VC14.zip
- https://www.apachelounge.com/download/VC14/binaries/httpd-2.4.16-win32-VC14.zip

[2015-08-16 09:23] tim-lebedkov opened #459 "Cooperation with Npackd"
Hello,

I have a similar project called Npackd (https://github.com/tim-lebedkov/npackd , https://github.com/tim-lebedkov/npackd-cpp ) and the corresponding repository at https://npackd.appspot.com/

Are you interested in some sort of cooperation?

[2015-08-17 08:15] guillermooo opened #460 "msi error 2203 while updating 7zip"
[code]

Maybe related:

http://stackoverflow.com/questions/21846381/error-2203-while-extracting-msi

[2015-08-18 00:43] Stanzilla opened #461 "OpenSSH update"
Scoop's OpenSSH is pretty out of date, any chance of getting version 7 in? https://github.com/openssh/openssh-portable/releases/tag/V_7_0_P1

http://ftp.hostserver.de/pub/OpenBSD/OpenSSH/portable/openssh-7.0p1.tar.gz

[2015-08-18 06:57] ntwb commented on #461
Went looking for this, the latest Windows binary available is openssh-5.4p1-1 from our current source:
http://sourceforge.net/projects/mingw/files/MSYS/Extension/openssh/

The 7.0 portable package also doesn't include any Windows binaries from:
https://github.com/openssh/openssh-portable/releases/tag/V_7_0_P1

Any other suggestions?

[2015-08-18 07:00] chandramouleshwar commented on #103
while installing apache i am getting the same error

[2015-08-18 13:30] Stanzilla commented on #461
I think one has to compile it with MSYS2 now, that would be https://github.com/Alexpux/MSYS2-packages/tree/master/openssh but that is also old :/

[2015-08-18 15:50] kodybrown commented on #459
Npackd looks really nice and well thought out! I will definitely check it out more.

As far as cooperation.. if there is something that benefits both projects, sure why not!? But, scoop uses json and Npackd uses xml files for packages. I'm not sure what we could do.. What do you have in mind?

[2015-08-18 16:57] tim-lebedkov commented on #459
well, ideally there would be only one installer, but we are far away from it so I would suggest taking small steps in this direction.

Here is what I think could be a start. I am also open for suggestions.
- add Npackd to the Scoop default bucket and vice versa
- use EXE Proxy (http://npackd.appspot.com/p/exeproxy) for shims in Scoop

BTW, the JSON/XML mismatch does not scare me much. The formats

[2015-08-20 21:33] devoncarew opened #471 "feature request for the android adb tool"
Like what the title says :)

[2015-08-20 23:54] deevus commented on #459
@lukesampson is away at the moment. We'll need to wait until he returns to action anything.

[2015-08-20 23:55] deevus commented on #458
Fixed in #468

[2015-08-20 23:55] #458 closed

[2015-08-20 23:56] deevus commented on #460
What's your OS?

[2015-08-21 05:01] guillermooo commented on #460
Win 7 Pro 64bit

[2015-08-21 05:32] lukesampson commented on #460
Is there a log file at `C:\Users\[username]\appdata\local\scoop\apps\7zip\9.38\_scoop_extract\7z938-x64.log`? That might have some more info.

[2015-08-21 06:46] guillermooo commented on #460
There's no file in that location. Apparently I'm using a system-wide install of 7zip, probably because I never was able to install 7zip via scoop.

[2015-08-21 06:49] guillermooo commented on #460
[code]

[2015-08-21 08:05] lukesampson commented on #460
Strange. Is there nothing in ~\appdata\local\scoop\apps\7zip\9.38\ at all?
Can you try running the msi with the /a switch and /l to specify your own
log file?
On Fri, 21 Aug 2015 at 8:49 am, Guillermo López-Anglada <
notifications@github.com> wrote:

[2015-08-21 08:17] guillermooo commented on #460
Fiddling with `msiexec` params I could get it to spit this out:

[code]

[code]

Note that I'm trying with a lower version than latest intentionally — same result.

The `scoop` source code says that msi installs are deprecated, though. :)

[2015-08-21 09:34] Stanzilla commented on #461
7.1 https://github.com/openssh/openssh-portable/releases/tag/V_7_1_P1

[2015-08-21 19:52] lukesampson commented on #460
Only installing MSIs with the old `msi` property in manifests is deprecated—what you did is basically they way scoop extracts files from MSI installers without running the installer.

If you downloaded the MSI manually, maybe it's locked because it was downloaded from the internet. If it's not that, I'm out of ideas sorry.

[2015-08-21 19:59] guillermooo commented on #460
It's most definitely a config issue, as on my own PC it works fine. I'll close this out.

[2015-08-21 19:59] #460 closed

[2015-08-23 18:45] Stanzilla commented on #461
Requested an update here https://github.com/Alexpux/MSYS2-packages/issues/332

[2015-08-24 09:36] tim-lebedkov commented on #459
OK

[2015-08-25 20:08] sunnywalker opened #474 "Scoop PHP 5.6.12 malware flag"
I don't know if this is a scoop issue or not, but after I used `scoop update php`, Windows Defender is claiming that there is a **Trojan:win32/Peals.F!plock** malware detected in `C:\Users\{username}\AppData\Local\scoop\apps\php\5.6.12\_scoop_extract\ext\php_fileinfo.dll`. I'm hoping it's just a false positive.

[2015-08-25 22:27] ntwb commented on #474
I just installed PHP via `scoop install php` and Windows Defender didn't pop up anything whilst installing, and a full scan of my `C:\Users\{username}\AppData\Local\scoop` folder returned no issues.

I scanned the PHP 5.6.12 at VirusTotal:

`php_fileinfo.dll` https://www.virustotal.com/en/file/17a9a3750e799d7b9349c329ac66cee22524360f6bdd33edda743f6e0e5a1870/analysis/1440540548/

URL `http://window

[2015-08-26 21:38] sunnywalker commented on #474
Thank you. I'll assume it's an issue on my side then.

[2015-08-26 21:38] #474 closed

[2015-08-26 22:54] rivy opened #476 "Test failures for `unzip_old` within Scoop-Core.Tests under Win10"
For Win10 machines, `test-unzip` returns a bugged value, causing test failures.

Investigation shows that the combination of Pester, COM (used within unzip_old), and Win10 leads to the odd/bugged return value. The return value contains the correct string, but it is prefaced with a leading space which arises de-novo during the execution return process from `test-unzip`. The value is correct and usa

[2015-08-26 23:29] ntwb commented on #474
Cool, it's always worth double checking here, I'd hate to find we shipped a package full of Malware or a Virus.

[2015-08-27 18:38] mikemimik opened #478 "Can't uninstall nodejs; larger problem afoot"
When trying to uninstall nodejs with scoop I get the error

I made sure that the node process was not in use anywhere, and no program had a hook into it or anything. Tried again and nothing.

I used the command `scoop uninstall scoop` to remove scoop and any application it had installed (would is only nodejs, basically my workaround for the above not working). I got the error message:

What's goin

[2015-08-27 23:10] ntwb commented on #478
Windows cannot handle long paths, this includes Windows 10 and is pretty lame Microsoft still have not fixed this :disappointed:

The workaround I use when this happens is to rename some `node_modules` folders to short names or numbers.

So previously you may have had something like:
`\appdata\local\scoop\app\nodejs\0.12.7\app1\node_modules\anotherapp\node_modules\moreapps\node_modules`

And I'll

[2015-08-28 00:23] mikemimik commented on #478
@ntwb thanks for this workaround. It did the trick for me, it let me run the command `scoop uninstall scoop`

I was really just using scoop for nodejs, I thought it was be nice having a package manager deal with it. I use the git-bash shell though so having a package manager to install tools isn't necessary for me because the git-installer comes with some useful ones.

[2015-08-30 15:31] rivy opened #480 "`scoop update`, being one-pass, may leave the project in an inconsistent state"
Updating `scoop` by using `scoop update` is currently implemented as a one-pass, self-modifying process. This update process overwrites the currently executing version with the newest available code. But, if the "update code" itself is modified by the `scoop update` command, it is possible to leave the executable in an inconsistent/"half-complete" state. At least one execution of the new "update c

[2015-08-30 15:35] rivy opened #481 "`scoop update` causes errors if the scoop CMD shim is modified"
When `scoop update` is executed from the CMD line, the scoop CMD shim (`scoop.cmd`) is used to initiate execution, calling the scoop application. The scoop application then performs the update (which regenerates the CMD shim) and terminates. Upon exit from the scoop application, control flow returns to the newly regenerated CMD shim and execution continues to a final termination.

This process is

[2015-08-31 00:03] deevus commented on #478
@mikemimik Glad you got your issue sorted

[2015-08-31 00:03] #478 closed

[2015-08-31 00:49] lukesampson commented on #481
.cmd files aren't a big priority, we're mainly focused on powershell so I think it's acceptable for these to fail rarely for people running DOS in order to keep it simple.

[2015-08-31 00:51] lukesampson commented on #480
I think this also only applies to people running in DOS mode, and the remote possibility of a failure is acceptable in order to keep things simple.

[2015-09-01 00:38] rivy commented on #480
Actually, no, since the main scoop script runs via an intermediary shim for both shells (`scoop.CMD` for CMD and `scoop.ps1` for PowerShell), it applies equally to both CMD/DOS shell users and PowerShell shell users.

[2015-09-01 02:18] lukesampson commented on #480
Oh sorry, I confused this with your other pull request. However this adds a fair amount of complexity to solve a problem that I think we're unlikely to encounter. In the shim example you mentioned, we'd expect a shim generated by old or new methods to have the same results i.e. execute the program. So it doesn't really matter if, during the course of an update, the old shim function was used even

[2015-09-01 10:46] #476 closed

[2015-09-01 15:20] rivy opened #485 "`scoop install ...` from the CMD shell requires a process restart for finalization"
When running `scoop install ...` (or `scoop update ...`), environment changes are performed and persisted to the USER or MACHINE store. Within a PowerShell shell, the PROCESS environment is also updated, allowing for immediate use of the installed application (from the same shell command line). But, when used from the CMD shell, `scoop install ...` does not update the PROCESS environment. Because

[2015-09-03 13:22] deevus commented on #447
I've had another look at this. It seems that the newer version of git prefers it's local `ssh` over any in the path. I was able to override this by setting `$env:GIT_SSH = resolve-path $(scoop which ssh)`, which works!

[2015-09-03 13:23] deevus commented on #447
@lukesampson If we make git depend on `openssh` we could set this in the `post_install`

[2015-09-03 13:27] deevus commented on #471
@devoncarew Doesn't adb require a driver?

[2015-09-03 16:56] devoncarew commented on #471
No, as far as I know it just talks regular usb to the android device.

[2015-09-03 23:51] deevus commented on #471
Can you provide a link to the best place to get it, and I'll look at getting it in?

[2015-09-04 02:02] devoncarew commented on #471
Here's one potential place:

    https://dl-ssl.google.com/android/repository/platform-tools_r23-windows.zip

Though I don't know if that is the canonical download location...

[2015-09-04 23:56] lukesampson commented on #447
OK that sounds like a good compromise if that works. It's strange that the old git could check if there was already an `ssh-agent` process running, but the new one can't.

[2015-09-05 00:54] #447 closed

[2015-09-05 01:00] deevus opened #488 "scoop uninstall blocked when app is running"
Example:

[code]

I'm thinking that users should be able to uninstall apps regardless of whether it is running or not - which means that we need some way of stopping services before uninstalling, so that the user doesn't need to figure it out themselves.

[2015-09-06 06:43] lukesampson commented on #459
Thanks for getting in touch Tim.

I think it's tempting to aim for one installer that does everything, but these two projects have already established quite different goals and approaches. I think it's best for each project to focus on what we each do best.

It's not just the choice of XML/JSON. Scoop is very minimalist by design and very committed to a command-line interface, for example.

If we

[2015-09-06 17:51] tim-lebedkov commented on #459
OK

[2015-09-07 08:39] #459 closed

[2015-09-10 08:58] orhanveli opened #491 "nodejs install hash check fails"
hash check failed for http://nodejs.org/dist/v0.12.7/x64/node-v0.12.7-x64.msi. expected: 05cfffda323563c42ff2e461a8e98ee984ad15d1, actual: c6bee9b445464c51caa04951c8b7425917cc3c1b!

[2015-09-10 09:15] deevus commented on #491
Looks like their servers are having issues at the moment. If it is still broken after their issues have been resolved, we can probably just update to v4.0.0

[2015-09-10 13:52] nkm8 commented on #447
Fix confirmed; thanks for the quick resolution.

[2015-09-15 18:37] umaritimus opened #501 "feature request - Scoop as a PackageProvider for OneGet/Windows PackageManagement"
Won't that be neat?

http://blogs.technet.com/b/packagemanagement/archive/2015/04/29/introducing-packagemanagement-in-windows-10.aspx#pi47623=2

[2015-09-16 12:52] PCouaillier commented on #501
Agree...
Hope it will be possible soon!

[2015-09-17 02:20] deevus commented on #491
Resolved with update to v4.0.0

[2015-09-17 02:20] #491 closed

[2015-09-20 15:10] rioka opened #504 "Can't install python"
When i try to install python, I get this output

`installing python (3.5.0)`
`loading https://www.python.org/ftp/python/3.5.0/python-3.5.0.exe from cache...`
`checking hash...ok`
`creating shim for python`
`can't shim python.exe: file doesn't exist`

I actually get a folder C:\Users\name\AppData\Local\scoop\apps\python\3.5.0, containing file python-3.5.0.exe

I can successfully install other apps,

[2015-09-20 23:18] #504 closed

[2015-09-20 23:19] lukesampson commented on #504
Sorry about that, it should be fixed now.

[2015-09-24 06:52] aloisdg opened #506 "How can I use a different theme than Solarized?"
Hello,

I begin to use scoop and I achieve to install the theme Solarized thanks to the doc.
Now, I would love to switch to another theme.
Is there a list of theme? How can I switch to another one?

Thank you

[2015-09-24 09:23] lukesampson commented on #506
Check out the list of [presets](https://github.com/lukesampson/concfg/tree/master/presets) for [concfg](https://github.com/lukesampson/concfg).

For example, you can switch to Monokai using `concfg import monokai`.

[2015-09-24 09:38] aloisdg commented on #506
Ok thank you.

[2015-09-24 09:38] #506 closed

[2015-09-26 07:07] ErnWong opened #507 "Not so important: relative shim paths"
I was lurking through the issue tracker for this beautiful program, when I noticed that my shim's paths are absolute despite https://github.com/lukesampson/scoop/pull/443... Sorry if this is a non-problem: was the relative-shim-path-feature removed intentionally or accidentally? (Or worse, was my mind at the wrong end of the universe and I misunderstood the whole thing? :smile: )

https://github.c

[2015-09-26 08:02] deevus commented on #507
I think this was removed accidentally. Good pickup.

[2015-09-28 14:11] gxoptg commented on #501
+1 this.

[2015-09-28 19:17] Stanzilla commented on #461
Since https://github.com/Alexpux/MSYS2-packages/commit/6389198ecb90a784c0df8af5b8e7e546827534a6 7.1p1 is available here http://sourceforge.net/projects/msys2/files/REPOS/MSYS2/x86_64/openssh-7.1p1-1-x86_64.pkg.tar.xz/download

[2015-09-28 19:29] Stanzilla commented on #461
Also might wanna update the OpenSSL version that is in OpenSSH's json.

[2015-09-28 19:32] Stanzilla opened #511 "7zip"
Since you seem to be using the beta version of 7zip in scoop, the up to date version is 15.07:

http://www.7-zip.org/a/7z1507.exe
http://www.7-zip.org/a/7z1507-x64.exe

[2015-09-29 02:13] deevus commented on #511
The new version uses a self extracting installer IIRC whereas the version in scoop is an msi.

I actually looked at this and from memory I couldn't get it to extract to a directory without admin rights, which poses a problem since scoop is supposed to be able to function without it.

If you have 7z installed already you can unzip it, however this presents a chicken and egg problem: if you are inst

[2015-09-29 22:19] jonasgeiregat opened #513 "Start as service feature"
For some soop buckets it might be usefull to have the ability to start them as a service.

For example it would be useful if it where possible to enable mariadb as a service.

Would the post post_install fit these kind of tasks ?

You will most likely need Administrator rights to create new services, that would probably be an issue ?

[2015-09-30 07:32] jonasgeiregat commented on #488
Agreed! But then there should be a way to add services in the first place not ?

[2015-10-02 14:40] Stanzilla commented on #511
https://sourceforge.net/p/sevenzip/discussion/45797/thread/7d9ac43f/#b9c4/b9da/ade1

MSI installers might come back

[2015-10-06 08:13] masonm12 opened #517 "Error Installing Git"
I get the following error when installing git, looks like it's failing the env_set step, which in turn causes git to use the wrong ssh.exe and fail to pick up on OpenSSH's ssh-agent. Git then proceeds to ask my passphrase all the time. Not a showstopper, but certainly undesirable. Tested plain ssh commands against ssh -T git@github.com, so it's just git fetch/push that seem to be affected.

    Ex

[2015-10-08 22:45] mmcalli commented on #517
+1 - having the same issue here.

[2015-10-08 23:12] masonm12 commented on #517
To workaround for my setup I just put the following in my ps profile, which I assume is equivalent to what the manifest was trying to do.

    $env:GIT_SSH = "$(resolve-path $(scoop which ssh))"

[2015-10-14 03:38] Stanzilla commented on #461
Hey @lukesampson any news here?

[2015-10-14 03:55] deevus commented on #461
@Stanzilla The team is a bit busy at the moment. If you're happy to make a PR i'll merge it in. Otherwise it will may need to wait a while longer.

[2015-10-16 05:59] guillermooo opened #528 "python should creat shim for py.exe on Windows"

[2015-10-16 06:06] lukesampson commented on #528
It looks like py.exe doesn't exist in Python 3.5. But their new installer is hard to deal with. Do you have any ideas?

[2015-10-16 17:13] guillermooo commented on #528
Not for now, but for reference:

https://docs.python.org/3/using/windows.html?highlight=python%20launcher%20windows#installation-steps

[2015-10-16 17:17] guillermooo commented on #528
Huh?

[code]

[2015-10-16 17:21] guillermooo commented on #528
Weird. This one was installed via scoop as well, and py.exe is there and on the PATH. But on my other PC it wouldn't work... Need to investigate more.

[2015-10-17 05:24] mathieucarbou opened #529 "scoop install git failed (2.6.1)"
[code]

[2015-10-17 05:25] mathieucarbou opened #530 "scoop install maven failed (3.3.3)"
[code]

[2015-10-18 00:55] #530 closed

[2015-10-18 02:02] deevus opened #533 "Breaks when resizing console during download"
[code]

[2015-10-18 22:37] guillermooo commented on #528
It seems this sorted itself out after restarting.

[2015-10-18 22:37] #528 closed

[2015-10-20 09:20] vidarkongsli commented on #529
I get a similar, but not exactly the same, error, when updating git:
[code]

[2015-10-20 09:36] deevus commented on #529
Do you get an error if you do a clean installation of git?

[2015-10-20 10:04] vidarkongsli commented on #529
On a clean Win 2012 R2 box:
[code]

[2015-10-20 10:09] vidarkongsli commented on #529
When trying uninstall/install (on my Win 8.1 box):
[code]

[2015-10-22 18:16] vpratfr opened #538 "Install specific version"
Hi,

I ran `scoop install rsync` which install version 3.1.1. On my servers running under Debian stable, I have rsync 3.0.9 (latest available there) which has a compatibility issue with 3.1.1.

How can I install 3.0.9 on my local computer ? Is there something like `scoop install rsync@3.0.9`?

[2015-10-23 23:50] deevus commented on #538
Hi @vpratfr

There is not currently any way to install a specific version of a manifest in scoop. The current closest solution is to have a manifest specifically for that version. E.g. manifests for `git` and `git19`

You could create a `rsync30` manifest in this case to solve your problem

[2015-10-24 15:29] coombsj commented on #448
The scoop application seems to have gotten corrupted on my system, I can't run the scoop command to uninstall itself and when I attempt to re-install, an error displays on the command line and the powershell window closes before I can read what it says.

Is there a more manual way of uninstalling scoop itself?

[2015-10-24 22:01] lukesampson commented on #448
If you delete ~/appdata/local/scoop you should be able to reinstall.

[2015-10-26 21:28] petmakris opened #542 "Unable to install openjdk (Hash problem)"
[code]

[2015-10-26 21:41] petmakris commented on #542
Edited in https://github.com/lukesampson/scoop/pull/543

[2015-10-28 02:30] vinnyp commented on #529
I'm hitting the same issue.
Windows 8.1, clean install (wiped my laptop a few days ago)
Powershell running without Administrator privileges.

[code]

[2015-10-28 05:02] deevus commented on #529
@lukesampson What is the member `noteproperty` and do you know why it would be returning null?

[2015-10-28 05:37] lukesampson commented on #529
The `noteproperty` member type is like a dynamic property that was added to an object at runtime (as opposed to defined on the class itself). When Scoop uses `convertfrom-json` to parse manifests, it creates a `PSCustomObject` with some base methods like `Equals` and `ToString` and then all the JSON data as "note properties". `gm -member NoteProperty` is a way to just iterate on the dynamic proper

[2015-10-28 06:41] lukesampson commented on #529
As a workaround, people might want to install `git19` for now.

[2015-10-29 01:23] jlchoike opened #545 "Replace "~" with "$env:USERPROFILE""
The Active Directory policy for my user account automatically sets my user home to a network drive; so scoop installs to the network drive instead of my local user home. Is it possible to use $env:USERPROFILE instead of ~ core.ps1 when setting scoopdir?

Please let me know so I can use scoop at work, because this package installer will be a great help to my team. Thanks!

[2015-10-29 01:41] lukesampson commented on #545
You can set `$env:SCOOP` to change the install directory to something other than `~/appdata/local/scoop`. To make the change persist beyond the current session, use:

[code]

See also #427 and #249.

[2015-10-29 01:50] jlchoike commented on #545
Wow. Thanks for the prompt reply and suggestion!

[2015-10-29 01:50] #545 closed

[2015-10-29 01:52] lukesampson commented on #545
You're welcome :smile:

[2015-10-31 15:52] mathieucarbou commented on #517
Have teh same error, the workaround does not work. I think issue and #529 are the same.

[2015-10-31 15:58] mathieucarbou commented on #529
I need git 2.x.
So is there a workaround ? Or a way to manually fix the scoop recipe and install it manually ?
Thanks!

[2015-10-31 18:44] ErnWong opened #548 "Empty user PATH causes scoop install to throw"
I bumped into this yesterday. When scoop is installed on a brand new virtual machine image, it turns out that the emptiness of the user's PATH variable causes `$path.split(';')` to complain:

[code]

This shot me like this: (when I was testing my install scripts on a fresh windows 10 vm image)

[code]

It turns out that the culprit was [here](https://github.com/lukesampson/scoop/blob/master/lib/in

[2015-10-31 19:29] ErnWong commented on #548
Second thought: this shouldn't happen normally because scoop adds the shim to the user path anyway. It's only happening to me because I removed the shim from the path after installing scoop (in the spirit of portability).

[2015-10-31 20:59] lukesampson commented on #529
Sorry about these problems. We haven't been able to repro the error but now you should be able to install Git 2 at least. If you need to use an SSH key with password with Git you'll need to run this separately:

[code]

[2015-11-02 13:12] nicohvi opened #549 "Trouble installing scoop"
Whenever I try to run the installer this happens:

![scoop](https://cloud.githubusercontent.com/assets/430875/10882507/9d35b198-816b-11e5-9033-f2f1182543e0.png)

But when I try to run `scoop` it isn't recognised.

![scoop2](https://cloud.githubusercontent.com/assets/430875/10882520/beb5595e-816b-11e5-9825-ef4402d01ea2.png)

Any idea of how to fix this?

[2015-11-02 14:13] Stanzilla commented on #511
MSI installers are back: http://www.7-zip.org/download.html

[2015-11-02 19:20] Stanzilla commented on #511
https://github.com/lukesampson/scoop/pull/550

[2015-11-02 20:27] lukesampson commented on #549
If you remove the scoop directory you should be able to reinstall: `rm -r -fo ~/appdata/local/scoop`.

[2015-11-02 20:28] #511 closed

[2015-11-03 10:43] nicohvi commented on #549
That did the trick, thanks! :+1:

[2015-11-03 10:43] #549 closed

[2015-11-04 00:48] thejustinwalsh opened #551 "PATH length"
On WIndows 7 (x64) scoop is adding a new entry to my path for gcc, python, ruby and maybe a few others and this blows my path out beyond the 2048 character limit and things start to break.

Any suggestions to fix this? Does it have to rely on the PATH variable to work?

[2015-11-04 00:56] lukesampson commented on #551
The only thing I can think of is to install scoop to a shorter path, like C:\scoop by setting the $env:SCOOP variable (see #249), and then reinstalling everything.

Not ideal, I know. Scoop tries to avoid this by using shims instead of adding everything to your path, but then a lot of programs need to add directories to your path anyway.

[2015-11-04 01:01] thejustinwalsh commented on #551
I'll try the shorter path. Thanks!

On Tuesday, November 3, 2015, Luke Sampson <notifications@github.com> wrote:

[2015-11-06 06:56] gxcodes opened #558 "git hash check failed (hence, can't update scoop)"
λ scoop install git
installing git (2.6.1.windows.1)
downloading https://github.com/git-for-windows/git/releases/download/v2.6.1.windows.1/PortableGit-2.6.1-64-bit.7z.exe#/dl.7z...done
checking hash...hash check failed for https://github.com/git-for-windows/git/releases/download/v2.6.1.windows.1/PortableGit-2.6.1-64-bit.7z.exe#/dl.7z. expected: 4e1d75f04d080cba8e798806f0c01f80a5c421445ab9d10c517e5

[2015-11-06 12:02] gxcodes commented on #529
Sorry I opened a new issue related to git before reading this one. But I guess mine's a bit different, hash check failed. #558

[2015-11-08 00:57] gregbair opened #561 "gcc45 install fails"
These two files 404:
* http://ufpr.dl.sourceforge.net/project/mingw/MinGW/Base/mingw-rt/mingwrt-3.18/mingwrt-3.18-mingw32-dll.tar.gz
* http://ufpr.dl.sourceforge.net/project/mingw/MinGW/Base/mingw-rt/mingwrt-3.18/mingwrt-3.18-mingw32-dev.tar.gz

They should be (note the lack of - in the mingwrt directory):
* http://ufpr.dl.sourceforge.net/project/mingw/MinGW/Base/mingwrt/mingwrt-3.18/mingwrt-3.18-

[2015-11-08 05:10] #561 closed

[2015-11-10 01:39] eugenesvk opened #565 "Bucket priorities"
Is it possible to prioritize my own bucket over the default one?
The default bucket didn't have the latest version of the app that I needed (some useful function was introduced, so I wanted to update), so I've copied that `app.json` from default bucket to my own, changed the installation url, version and hash.
However, when I try to `scoop install app` only the default bucket is used, not mine.
Id

[2015-11-10 01:56] lukesampson commented on #565
There's no bucket prioritisation.

The idea is to encourage people to contribute improved manifests back to the main bucket. If you don't want to contribute, you can name your manifest something else like `my-app.json` instead of `app.json`.

[2015-11-10 02:41] eugenesvk commented on #565
I'm fine with contributing, just didn't know how to do it (new to github). Will try to click around to see how it works.
Renaming manifest isn't great since it also renames the app installation folder (it doesn't matter much since I can always `scoop list` to see which apps have changed names, but it's a bit inconvenient).

[2015-11-10 02:41] #565 closed

[2015-11-15 04:46] rapito opened #572 "Not handling special characters in path"
Scoop throws an exception if it founds any special characters in it's execution path.

- OS: ```Windows 10```
- Username: ```Robert Adrián```
- Error:

[code]

[2015-11-22 18:23] thoughton commented on #427
Sorry for commenting on a closed issue, but is the changing of the SCOOP env variable still supported?

I'm a new user.  I love the look of Scoop - it seems to be exactly what I've been looking for for a long time - but I do need to change the installation folder to a different drive, as my system drive is on a fairly modest SSD that can't really spare the space.

I'm using Windows 10, by the way.

[2015-11-22 22:37] lukesampson commented on #427
Try setting `$env:scoop = 'e:\Develop\scoop'` as well to update the environment for the current powershell session.

[2015-11-23 21:26] thoughton commented on #427
Yep that works perfectly now - thank you! :)

[2015-12-02 17:32] mmarodin opened #583 "Ansible support"
Anyone is able to run Ansible from scoop?
I've tried many ways but it doesn't work :(

File "c:\Users\******\AppData\Local\scoop\apps\python27\2.7.10\Scripts
\ansible.py", line 36, in <module>
ImportError: No module named runner

Please let me know, thanks

[2015-12-02 18:58] kodybrown commented on #583
As far as I know, Ansible does not support _running_ from Windows machines. Only targeting them. See [here][1] for more details.

[1] http://docs.ansible.com/ansible/intro_windows.html#windows-how-does-it-work

[2015-12-02 19:01] kodybrown commented on #583
As a side note, I really like how Ansible is designed. I really wish it did allow managing from Windows...

[2015-12-02 21:49] mmarodin commented on #583
Yes, I know it. And yes, me too, I really like Ansible.
But the error seems to be the same than other users having it in some Linux cases ... so ... let's try again!
Have you ever try to install it via Scoop (python and pip)?

[2015-12-02 22:08] kodybrown commented on #583
I have installed Python and pip many times via Scoop. I actually have multiple versions of Python installed at the same time, all via Scoop. I haven't experienced any issues..

[2015-12-02 22:13] mmarodin commented on #583
If you have time could you try to test Ansible yourself? :)

[2015-12-02 22:47] kodybrown commented on #583
It says it installed successfully, but **it will not work** on Windows (http://docs.ansible.com/ansible/intro_installation.html#control-machine-requirements)...

The `pwd` component is not supported on Windows. There are some hacks out there, but nothing that I've found gets an Ansible control machine to work on Windows.

I used a clean environment for the install.

    Python 2.7.10

    pip 7.0.

[2015-12-02 22:50] kodybrown commented on #583
If you really have to have Ansible on Windows, I suggest a virtual machine using VMware or VirtualBox. You could probably also find a Docker image for Ansible, but I haven't played with Docker yet, so I can't help you with that.

[2015-12-05 10:35] tylerlong commented on #118
I meet the same issue. I solved it by deleting "C:\Users\[username]\appdata\local\scoop" then reinstall.

[2015-12-07 20:24] Cyianor opened #587 "R: hash check failed"
R fails the hash check after downloading

    ~ $ scoop install r
    installing r (3.2.2)
    downloading https://cran.rstudio.com/bin/windows/base/R-3.2.2-win.exe...done
    checking hash...hash check failed for https://cran.rstudio.com/bin/windows/base/R-3.2.2-win.exe.
    expected: aee512f5c4ed3099301721d8d0e8c779caf5232313f5fda44f3de800cd20266a, actual:
    c5ea69d2142b65fc798ef3516c5f669d761

[2015-12-07 21:52] #587 closed

[2015-12-07 22:19] Cyianor opened #589 "Issue while installing R 3.2.2"
The shims supplied in the manifest do not work.

    ~ $ scoop install r
    installing r (3.2.2)
    downloading https://cran.rstudio.com/bin/windows/base/R-3.2.2-win.exe...done
    checking hash...ok
    unpacking innosetup...done
    creating shim for r
    can't shim bin\r.exe: file doesn't exist

There are two binaries, `R,1.exe` and `R,2.exe` in the `bin` directory. It seems like `R,1.exe` r

[2015-12-07 23:32] lukesampson commented on #589
You could add a `pre_install` step to the manifest that runs some powershell to copy `R,1.exe` or `R,2.exe` to `r.exe` based on the architecture (`[intptr]::size -eq 8` means 64-bit). Similar for the other files like `Rterm.exe`—you could copy the right version to `bin` so that the shim step can find them.

There's an example of a `pre_install` in the [python](https://github.com/lukesampson/scoop/

[2015-12-09 22:23] Cyianor commented on #589
Works now.

[2015-12-09 22:23] #589 closed

[2015-12-10 14:26] Cyianor commented on #542
This could be closed. It's solved.

[2015-12-10 14:28] Cyianor commented on #558
This is not relevant anymore. Could be closed.

[2015-12-10 21:15] lukesampson commented on #542
Closing. Thanks @Cyianor

[2015-12-10 21:15] #542 closed

[2015-12-10 21:16] lukesampson commented on #558
Thanks @Cyianor, closing.

[2015-12-10 21:16] #558 closed

[2015-12-11 20:14] zQueal opened #591 "Vim with Python Support"
I was really excited to find scoop, but when I installed Vim, I realized that the binary is compiled _without_ Python 2 or 3 support. That's a little unusual considering all the best plugins require Python support.

Is there any way to get a binary which supports Python?

[2015-12-11 21:20] zQueal commented on #504
PS C:\Users\zqueal> scoop install python
    installing python (3.5.0)
    loading https://www.python.org/ftp/python/3.5.0/python-3.5.0-amd64.exe#/py350.exe from cache...
    checking hash...ok
    running pre-install script...
    running installer...done
    creating shim for python

As far as I can tell, this issue is still happening.

[2015-12-11 21:44] lukesampson commented on #591
If you know where to download a vim binary that supports Python we could use that. Scoop doesn't compile anything as part of the install process.

[2015-12-11 21:55] zQueal commented on #591
I do have a good binary which is very up-to-date, but unfortunately it's 64-bit and doesn't seem to want to play nicely with Python. It can be [found here](https://bintray.com/veegee/generic/vim_x64/view). I'll update once I find a more trusted version of the 32-bit client.

[2015-12-13 02:33] H3Chief opened #593 "command prompt doesn't always start on a newline"
I am experiencing an issue where I use a tool like `curl` to send something to `stdout`, and then the command prompt shows up on the same line as the output.  For example,

I hit the github api example 3 consecutive times, and here's what my shell looked like:

[code]

Instead of:

[code]

[2015-12-13 16:42] Cyianor commented on #593
I can reproduce this, but this isn't an issue related to scoop. The problem is that `curl https://api.github.com/zen` doesn't seem to send a new line at the end. That's why the command prompt appears on the same line as the output.

It's the same with any other page. Just try `curl https://www.google.se` for example. (for the `.com` version it actually works that the command prompt is on a new lin

[2015-12-13 20:41] wrokred opened #594 "PHP install not registering"
On a fresh install of windows 10 pro installing any version of php with scoop creates an alias for php but doesn't have any output.

For instance calling php -version just goes to the next line. Before install php will error.

Tried the 64 and 32. 7 and 5.6 versions. Run scoop update, removed scoop and reinstalled each app.

[2015-12-13 21:54] ntwb commented on #594
Do the the shims get created in `C:\Users\%username%\AppData\Local\scoop\shims`?

You should be seeing two files relating to PHP: `php.exe` and `php.ps1`

Also whats the results of `scoop which php`?

Both `scoop install php56` and `scoop install php` work fine for me, you should also use `php -v` or `php --version` to list PHP's version.

[2015-12-13 22:26] wrokred commented on #594
Yeah, I have both the files in the shims folder.

'''scoop which php''' '''~\appdata\local\scoop\apps\php56\5.6.16\php.exe'''

It's damned confusing.

[2015-12-14 19:29] wrokred commented on #594
Fresh install was the clue, first time installing scoop on a new install. Opening command prompt instead of powershell and running ```php``` showed the error.
```MSVCR110.dll is missing from your computer```

http://www.microsoft.com/en-us/download/details.aspx?id=30679 to install Visual C++ Redistributable for Visual Studio 2012 Update 4 fixed that.

Silly thing to over look but I'll close the is

[2015-12-14 19:29] #594 closed

[2015-12-15 00:54] ntwb commented on #594
:+1 Glad your sorted

[2015-12-15 22:23] wrokred opened #597 "App manifest depends wildcard?"
Currently building a bucket for php package managers and CLIs, composer and the like.
The install of composer requires php, but doesn't care which version.

Depends `php` will try to install php 7 even if 56 is installed.
Depends `php56` with try to install php56 even if 7 is installed.
Or other situations were you require any version of X app.

Is there a wildcard or depends X or Y?
"depends": ["

[2015-12-15 23:05] deevus commented on #597
There isn't, but you can use the `pre_install` field in the manifest to achieve the same thing. Use straight powershell to check if any versions are installed with scoop.

[2015-12-16 07:17] mlr-msft opened #598 "Specify default for `scoop install -a`?"
Is there a way to tell Scoop to prefer install 32-bit packages unless otherwise instructed?

[2015-12-16 07:19] lukesampson commented on #598
No there isn't, sorry.

[2015-12-16 16:37] mlr-msft commented on #598
Okay. Thanks for getting back to me so quickly. :smile:

[2015-12-16 16:37] #598 closed

[2015-12-17 01:30] pecigonzalo opened #600 "Question: Any plans to get this to install as a module?"
Luke, i believe scoop could benefit from being distributed as a powershell module ( maybe even trough the powershell gallery ) is there any plans for this?

Thanks!

[2015-12-17 01:44] lukesampson commented on #600
No I don't think we have any plans for that.

[2015-12-17 08:16] #600 closed

[2015-12-19 14:04] Cyianor opened #603 "Question mark (?) in download URL"
I wanted to create a manifest for the [DLC](http://dlcplayer.jimdo.com/) command line music player. The download link for this app is

    https://dl.dropbox.com/s/9p5sja609mkw8vs/dlcplayer-win_0.0.3.7z?dl=1

when running the manifest with this URL I get

    downloading https://dl.dropbox.com/s/9p5sja609mkw8vs/dlcplayer-win_0.0.3.7z?dl=1...done
    cp : Illegal characters in path.
    At C:\Users

[2015-12-19 14:32] Cyianor commented on #603
No wait... I am wrong. The `?` does get replaced. Weirdly enough it still doesn't download the file though...

[2015-12-19 15:10] Cyianor commented on #603
Found it! The line

[code]

in `install.ps1` in the `dl_urls` function extracts `dlcplayer-win_0.0.3.7z?dl=1` instead of `dlcplayer-win_0.0.3.7z`. To make it work I changed this line to

[code]

Is this a feasible solution?

[2015-12-19 17:08] rivy opened #605 "Failing automated testing (fixed by PR#604)"
I noticed that you had some failing automated AppVeyor builds.

There was a regression in `pester` (see [pester@3.3.12 ~ `mock` regression?](https://github.com/pester/Pester/issues/436)) which is being fixed and pushed. But, in the meantime, builds using the usual method of testing are failing.

I've fixed it in my fork and created a PR (see [PR#604](https://github.com/lukesampson/scoop/pull/604))

[2015-12-19 23:17] lukesampson commented on #603
Cool, yes that sounds like it would work—are you able to submit a pull request?

If so, can you please test as many manifests as possible to make sure there aren't unexpected side effects? There are some manifests that add URL fragments like `#/dl.7z` (e.g. [git](https://github.com/lukesampson/scoop/blob/master/bucket/git.json)) to force a different filename when the URL is downloaded.

[2015-12-19 23:26] lukesampson commented on #605
Looks like that worked—thanks Roy :+1:

[2015-12-22 22:03] pe8ter opened #609 "Attempting re-install breaks the installation"
Tried reinstalling Scoop by executing the first-time install command. Doing this makes Scoop unavailable to use.

[code]

Manually deleting Scoop and from `appdata\local` allows me to reinstall using `iex` again, but using Scoop remains unavailable.

[2016-01-04 11:23] rioka opened #615 "Installing ruby and ruby19"
I've tried to install both ruby and ruby19; at the end, I get both version installed, but no shims created for the two versions; path variable contains both folders, and both "scoop reset x" results in nothing.

To switch from one version to the other, I have manually update the value for path variable.

[2016-01-08 04:10] rodrigopolo opened #622 "Node NPM Cannot find module 'npmlog'"
After installing node.js by typing:

[code]

I get the following error when trying to run NPM:

[code]

[2016-01-08 20:07] nightroman opened #625 "`scoop status` ignores apps installed from local manifests"
I have several apps installed from local json manifests. `scoop status` seems
to be ignoring them. I wonder if this is for a reason or something is just not
implemented. Or am I missing something and it is actually supposed to work?

For example I have a local manifest for Depends and use it in order to install it by scoop.
As a result, scoop also installs the copy of the original manifest as
`...

[2016-01-08 20:14] nightroman commented on #625
I performed some more tests and found that I was wrong. scoop works as expected. I close the issue and apologise for the false alarm.

[2016-01-08 20:14] #625 closed

[2016-01-08 20:19] nightroman commented on #625
I have a wish though... I was confused because I expected `scoop status` output to be similar to `checkver`, i.e. more verbose, showing the current versions installed. I would like to have something like `scoop status verbose`.

[2016-01-08 23:07] #605 closed

[2016-01-08 23:08] #597 closed

[2016-01-08 23:09] #593 closed

[2016-01-08 23:09] deevus commented on #603
@Cyianor Are you making a PR for this?

[2016-01-08 23:11] deevus commented on #615
@rioka Can you provide any output from `scoop reset ruby`?

[2016-01-08 23:12] deevus commented on #609
@pe8ter Have you been able to resolve this? Seems like it could be a `PATH` issue

[2016-01-08 23:13] deevus commented on #591
@zQueal Have you had any luck finding a working binary with Python support?

[2016-01-08 23:14] #583 closed

[2016-01-08 23:15] deevus commented on #572
@rivy Any chance of a PR with those fixes?

[2016-01-08 23:15] #551 closed

[2016-01-08 23:16] #548 closed

[2016-01-08 23:17] deevus commented on #538
@vpratfr Did you end up resolving your issue?

[2016-01-08 23:22] deevus commented on #529
Gonna close this as we haven't had any more issues since ec08121

[2016-01-08 23:22] #529 closed

[2016-01-08 23:22] deevus commented on #517
Duplicate of #529

[2016-01-08 23:22] #517 closed

[2016-01-08 23:25] deevus commented on #513
It is the ideology of scoop to mess with your system as little as possible. So keeping with this ideology I think installing services as part of installing an app is out.

And also, yes you would probably need administrator access which is also out.

That's not to say that you couldn't create your own bucket with these kind of manifests that in general require administrator access.

[2016-01-08 23:25] #513 closed

[2016-01-08 23:39] zQueal commented on #591
Yes, I have actually. It was a __huge__ pain in the ass to be perfectly honest. Most of the precompiled binaries out there are either insanely out of date or for whatever reason didn't want to work. In the end I ended up installing 32-bit Python 2.7, manually adding `PYTHONHOME` to my python install directory (`C:\Python27`), and then [this 32-bit build](http://wyw.dcweb.cn/#download) of Vim 7.4.

[2016-01-09 00:01] #480 closed

[2016-01-09 00:17] deevus commented on #591
Do you know if Python27 in Scoop would work for that version of vim? Could we do it in a manifest?

[2016-01-09 00:22] zQueal commented on #591
I'm not sure -- but I'll test it tomorrow afternoon and get back to you if you're interested. I'm almost positive it'll work if you add `C:\Users\{user}\AppData\Local\scoop\shims\python27\whatever` to `$PATH` as `PYTHONHOME`.

[2016-01-09 00:30] rivy commented on #572
I have a change set that "works on my machine" (https://github.com/rivy/scoop/commit/e69c922901e12e3a65a89a8d6acab1edb14f6294), meaning I added an user named "tëst" and it all works. I'll need someone who uses a machine with an international character set to try it before I can be more sure of the fix.

I believe I have the it will be the fix for all #507 and #572. I likely have the fix for #603 a

[2016-01-09 01:10] deevus commented on #461
@Stanzilla After playing around with this for about 30 minutes, it seems as though we can't install that version of OpenSSH without MSYS2.

As far as I can see, MSYS2 uses an installer from which I was unable to extract anything from without running it.

[2016-01-09 01:14] deevus commented on #433
@chidumaga Not sure in regards to Postgres, however many GUI installers will package the command line binaries but just wrap them in a GUI.

[2016-01-09 01:14] #433 closed

[2016-01-09 01:16] deevus commented on #405
@guillermooo Any chance you can revisit and possibly generalise this to work with any package?

[2016-01-09 01:16] deevus commented on #394
@jrock2004 Were you able to resolve this?

[2016-01-09 01:17] deevus commented on #373
@guillermooo Do you have a link to some decent docs on PS Providers? I don't really know how they work

[2016-01-09 01:18] deevus commented on #88
@ntwb What is the status of this?

[2016-01-09 06:38] pe8ter commented on #609
I didn't know there was issues with Scoop and how some businesses configure their machines. Tried installing off of my work network, which led to a new error, which led to [this ticket](https://github.com/lukesampson/scoop/issues/107), which fixed my issue!

[2016-01-09 06:51] pe8ter commented on #609
Apps are getting installed to my C drive, but still getting issues with Scoop trying to hit the U drive, but looks like that's on me to fix.

Feel free to close.

[2016-01-09 07:18] deevus commented on #609
Ok @pe8ter. Thanks

[2016-01-09 07:18] #609 closed

[2016-01-09 23:01] ntwb commented on #88
Pretty much the same, per your comment https://github.com/lukesampson/scoop/issues/126#issuecomment-128665592 might be the way to go, put and store the data elsewhere.

[2016-01-10 15:14] vpratfr commented on #538
I did that manually. I still think there should be a way to specify a version number for a package, this would be helpful to solve cases like that.

[2016-01-11 15:33] fremail opened #629 "After scoop install failing it needs to uninstall the package"
Hi!

I tried the example from the doc:
```scoop install apache```
but got an error (404). Then I tried to install it again, but got another error: ... try scoop uninstall apache. It will be better no need to uninstall the package after failed installing.

Also, scoop can't install apache :(

The screenshot:
https://yadi.sk/i/PGut8znRmp2Vw

[2016-01-12 06:34] rivy commented on #603
@deevus I think that using `[System.URI]` here (in the PR) is a better future-proof solution.

[2016-01-12 06:54] rivy commented on #572
@rapito I have a possible fix up-and-running in my fork ([rivy/scoop](https://github.com/rivy/scoop)). But it still needs testing, especially for international use. Give it a try if you have time...

For installation, use:

##### CMD Shell &middot; `C:\>`

    powershell -command "iex (new-object net.webclient).downloadstring( 'https://raw.github.com/rivy/scoop/master/bin/install.ps1' )"
    set P

[2016-01-12 11:57] rapito commented on #572
@rivy, just tested your fork and I could install successfully the following packages:

- curl
- 7zip
- innounp

So it seems it's now working ok :dancer:

As a side node (possibly a new issue): Couldn't install openssl because of a 404 on the server, seems like that package/bucket must be updated.

[2016-01-12 20:36] rivy commented on #572
@rapito, In order to keep a cleaner development line, I've been avoiding pulling in commits which are purely bucket updates. So, the default bucket hadn't been updated in a while...

However, I just updated it in 'master'. A `scoop update` should pull everything (or a reinstall if you've removed it already). You should be able to test now with all the latest manifests.

If you run into any issues,

[2016-01-13 19:47] mathieucarbou opened #633 "Upgrade to JDK 8"
openjdk.json is set to Java 7. Now Java 8 is there since a while.
which scoop command could I run to install the Java 8 version ? Is there a way to easily modify or update locally the config files ?
Thanks!

[2016-01-14 05:45] saildata commented on #629
@fremail We've all had this happen before, bad ref, checksum, etc. To keep I/O to a minimum Scoop uses a cache folder. From the [Scoop wiki](https://github.com/lukesampson/scoop/wiki/Commands):
* `scoop help cache` -> overview of the cache syntax

* `scoop cache show` ->cache disk usage

* `scoop cache rm <app>` -> delete a single app

* `scoop cache rm *` -> clear the cache (Arguably you wouldn't

[2016-01-14 06:02] saildata commented on #633
@mathieucarbou if you're wanting OpenJDK, then you can create the app manifest described in the **[wiki](https://github.com/lukesampson/scoop/wiki/App-Manifests)** and issue a pull request. It's a really simple JSON file format - the wiki page has an example or just copy one out of the *apps* folder in your scoop directory and use that as a template.

If you want to go with the alternative, you ca

[2016-01-14 06:28] saildata opened #634 "infinite loop when searching for notepad++"
[code]
You can also invoke the loop with `scoop search ++` for obvious reasons but oddly not `s search --`

It looks like the `-match` operator is used in several user commands in **[scoop](https://github.com/lukesampson/scoop/search?utf8=%E2%9C%93&q=match)**

Maybe a edge case since npp is literally the only returned app with plus in the name. The standard `CTRL + c` (lowercase only) issues a bre

[2016-01-14 07:16] #634 closed

[2016-01-14 07:20] lukesampson commented on #634
I could have escaped the search term, but I think it's kind of cool if people can use regex to search. So instead I decided to pre-parse the regular expression and show one error, rather than have an error each time it searches an app's name.

[code]

[2016-01-14 08:43] fremail commented on #629
@saildata So I removed the apache from scoop's cache and tried to install the apache again, but got an 404 error.
[code]

[2016-01-14 11:58] scottwillmoore commented on #633
Thank you @saildata, currently we are using the [openjdk-unofficial-builds](https://github.com/alexkasko/openjdk-unofficial-builds), however these have not been updated to [support JDK 8](https://github.com/alexkasko/openjdk-unofficial-builds/issues/17), and it looks as if this may not happen for quite a while.

I just saw that someone mentioned that [Zulu](http://zulu.org/download/) create JDK 8

[2016-01-14 12:29] fremail commented on #629
Oh! I needed to update the scoop before. So, the apache was installed.
@saildata, thank you.

[2016-01-14 12:29] #629 closed

[2016-01-14 19:57] saildata commented on #629
@fremail - glad it worked out. Out of (sheer) laziness I have scoop aliased to `s` so when I boot up I `s update` ;`su` would have felt wrong.. This project is just about the only thing that makes working in Windows bearable for a Linux user :trophy: @lukesampson

[2016-01-14 20:02] saildata commented on #633
Awesome. I'm also a Linux native, and have used scoop for a while now since I multiboot for work.. I'm glad y'all are using OpenJDK, but wanted to provide the alternative if you were able to use either environment.

[2016-01-14 20:42] fremail commented on #629
@lukesampson scoop is a cool app, but I think it should store data about packages on github for example. Then it would be faster to update it (don't need to update scoop on each computer).
Though it would be more better to parse download links automatically, but it can cause other bugs.

[2016-01-15 05:05] JMBattista commented on #622
Can confirm that I have the same issue. Using the
[code]
command works fine but gives v4 instead of v5.

[2016-01-15 07:51] thomaskonrad opened #638 "New OpenSSH 7.1p1 does not work in PowerShell"
Hi,

I just upgraded OpenSSH because of the latest vulnerability. On my machine, SSH now does not work any more in PowerShell. When I try to open a connection, it just quits without any output:

[code]

However, SSH works in the old `cmd.exe` command shell. Does anybody experience the same thing? I'm using Windows 10.

Thanks
Thomas

[2016-01-15 21:18] lukesampson commented on #638
I've moved openssh back to the old 5.4p1-1 version for now. You'll need to run `scoop uninstall openssh; scoop update; scoop install openssh` to go back because `scoop update openssh` won't work for an older version than the one you have installed.

[2016-01-17 07:06] zQueal commented on #591
Took forever, but it's tested and working out of the box. `PYTHONHOME` needs to be set as an environment variable to the scoop app location for Vim to recognize it as installed, however.

[2016-01-17 21:38] WRedMedia opened #641 "Install php<7 (5.6.15, 5.6.16)"
downloading http://windows.php.net/downloads/releases/php-5.6.15-nts-Win32-VC11-x64.zip...Удаленный сервер возвратил ошибку: (404) Не найден.

[2016-01-23 00:18] guillermooo commented on #405
I would love to, but I doubt I'll find the time for it any time soon :-/

[2016-01-23 23:50] damnhandy commented on #633
@scottwillmoore I've taken a look at using Azul's Zulu and it's going to take some shenanigans in order to get it work with Scoop. Azul is forbidding direct downloads to the link http://cdn.azulsystems.com/zulu/bin/zulu1.8.0_66-8.11.0.1-win64.zip unless the referrer is http://www.azul.com/downloads/zulu/zulu-windows/ But it also seems that the Referer header is also not enough as they seem to doin

[2016-01-24 15:06] zQueal opened #660 "Apache / Apachex64 Returns Error 404."
λ scoop install apache
    installing apache (2.4.17)
    downloading https://www.apachelounge.com/download/VC11/binaries/httpd-2.4.17-win32-VC11.zip...The remote server returned an error: (404) Not Found.

and

    λ scoop install apache64bit
    installing apache64bit (2.4.9)
    downloading http://www.apachelounge.com/download/VC11/binaries/httpd-2.4.9-win64-VC11.zip...The remote server returne

[2016-01-25 11:24] scottwillmoore commented on #633
That complicates things! After a quick Google search I was able to find [this](https://support.azulsystems.com/hc/communities/public/questions/202463190-Provide-proper-links-to-Linux-binaries) post on their support forums. So apparently it is possible to do using metadata in the HTTP request.

Scoop does not currently support adding a referrer to the HTTP request, however in the past I added suppo

[2016-01-25 21:17] lukesampson commented on #633
Thanks guys. If anyone wants to submit a PR to include the referrer for HTTP requests then I'd be happy to merge it. The first syntax @scottwillmoore shows above is better I think—nicer to read and type, and doesn't break anything.

[2016-01-25 22:22] damnhandy commented on #633
But wouldn't it be great if getting a binary for a JDK didn't involve these sorts of shenanigans? I'll give this a look in the next week or two. At the moment, my teams are fine with the Oracle JDK, but Azul's Zulu is a nice option. It's a a shame that it has the same hoops to jump through as the Oracle JDK.

[2016-01-28 05:11] alvin-nt opened #663 "Git 2.x Not Working"
I tried to upgrade to Git 2.x (was using `git` at version 1.9). However, after `git` was upgraded, the `git` commands related to remote (e.g. `git push`, `git clone`) do not work.

Steps to reproduce:
1. `scoop update git`
2. Set the envvar, as mentioned in the post-installation notes. Also tried to set the envvars manually, both at system scope and user scope
3. Commands not working. `git` just e

[2016-01-28 06:25] lukesampson commented on #663
Yeah I haven't been able to get the latest git working with SSH either. I stuck with the `git19` install until recently because it did work, and then I just abandoned using SSH with Git and switched to HTTPS instead.

We ended up reverting #638 because the new Microsoft OpenSSH seemed a bit flakey, so I don't think that'd be the problem. Maybe check `scoop list openssh` to make sure you're on v5.x

[2016-01-28 06:46] alvin-nt commented on #663
I already tried the 5.x OpenSSH, still not working. Besides, I also tried to clone a public HTTPS repo from Github. The clone command is also not working.

As what @lukesampson suggested, currently I'm using `git19`, since I need git for my daily routine.

In the meantime, I suggest to keep this issue open.

[2016-01-30 01:54] zQueal commented on #641
`5.6.15` has been replaced by `5.6.17`

    http://windows.php.net/downloads/releases/php-5.6.17-Win32-VC11-x86.zip
    http://windows.php.net/downloads/releases/php-5.6.17-Win32-VC11-x64.zip

But `5.6.15` can still be found in `releases/archives/`

    http://windows.php.net/downloads/releases/archives/php-5.6.15-Win32-VC11-x86.zip
    http://windows.php.net/downloads/releases/archives/php-5.6.15

[2016-01-30 21:31] igor87z opened #666 "Update openssl to v1.0.2f"
Please update openssl to v1.0.2f. 1.0.2f not available on site. http://slproweb.com/download/Win64OpenSSL-1_0_2e.exe and http://slproweb.com/download/Win32OpenSSL-1_0_2e.exe return 404.

[2016-01-31 22:24] damnhandy commented on #501
This might not be that difficult to do. I've been prototyping how this might work, but it gets a little weird in how it would be installed. Right now, Scoop has it's own install process. PackageManagement has it's own way to install things and would get installed somewhere in the `$env:PSModulePath`. I'm trying to play around with the `Initialize-Provider` function to see if behaves in a way that

[2016-01-31 23:01] damnhandy opened #668 "Provide External Configurations of Scoop URLs and Buckets for On-Premise Deployments"
I'm in the process of setting up an internal deployment of Scoop for use by our development teams. Because my organization wants strict control over the what tools are available, our buckets contain a subset of what is available in standard Scoop. Additionally, we offer additional configurations for use in our environment that we'd not want to make publicly available. Ideally, I'd like to stay in

[2016-01-31 23:12] deevus commented on #668
I believe if you set `SCOOP_BRANCH` and `SCOOP_REPO` in `.scoop` after you install but before you do your first update, it will happily run from a custom repository.

Alternatively, if you delete the `.git` directory from `apps\scoop\current`, set the correct `.scoop` values as above, then update: you should get the same result.

[2016-01-31 23:31] damnhandy commented on #444
@nightroman do you mean `file` URIs? Relative paths by themselves are rather vague as they need to be relative to something.  Somehow, Scoop needs to determine the fully qualified path of the item to install. But I can definitely see the use case for supporting file URIs, which would all you to reference files on a network share that is not available via HTTP/HTTPS. Was that more where you were go

[2016-01-31 23:37] lukesampson commented on #666
Should be fixed by #669 once you run `scoop update`.

[2016-01-31 23:37] #666 closed

[2016-02-01 07:00] nightroman commented on #444
@damnhandy

I mean paths relative to manifest files.

[2016-02-01 11:37] damnhandy commented on #444
That should work just fine today. If you're creating or updating manifest files, you can do the following:

    scoop install .\bucket\git.json

That works just fine. If that what you're looking to do?

[2016-02-01 11:38] damnhandy commented on #668
Let me give that a shot, that might be the trick I'm looking for.

[2016-02-01 12:34] nightroman commented on #444
@damnhandy, no. I am talking about the field "url". Currently it supports web URLs (obviously) and full file system path (not obviously but this is the fact). But does not supports relative file system paths. (Relative with respect to the manifest location, indeed.)

[2016-02-04 09:00] RobertWHurst opened #673 "Running `scoop which` throws syntax error"
I've installed git and openssh on my machine. I tried to run the command `scoop which ssh`, I get the following exception.
[code]

[2016-02-05 12:01] damnhandy commented on #622
I had the same issue around the same time, but with the current releases it seems to be resolved. I did some digging and this is more of an NPM issue than a scoop issue. This error is common when NPM can't update itself.

[2016-02-06 14:40] damnhandy commented on #668
Okay, this now works. I've been able to fork the installer script and run the scoop config commands to set the correct repo and branch names. With that said, I would close this issue and I will open other issues for more specific changes or additions to the scoop config file.

[2016-02-07 14:57] damnhandy opened #678 "Support for Startmenu Shortcuts"
For GUI applications that maybe found in the `scoop-extras` bucket, it would be helpful if a manifest could define a shortcut for the application in the Windows Start Menu. A manifest could define a shortcut in the manifest like so:

    "bin": [
         [ "app\\sourcetree.exe", "sourcetree" ],
         [ "app\\stree_gri.exe", "stree_gri" ]
     ],
     "shortcuts" : [
         [ "app\\sourcetree

[2016-02-08 03:11] #678 closed

[2016-02-10 08:50] cardonator opened #682 "ssh doesn't seem to offer public key"
I've been trying to get public key auth working with Scoop for several weeks and I can't get it working. I have the public key added to the authorized_hosts on the remote system correctly, but when I run ssh -v test@test.com I don't see any offers of the public key that exist in my ~/.ssh folder. I even tried adding it to the agent and nothing.

Also, I have yet to have pshazz automatically add my

[2016-02-11 16:10] alapala opened #685 "Scoop seems to assume location of `AppData` directory"
Not sure if this is a recently introduced bug or an issue with my configuration. Scoop had been working fine just a few weeks ago, but it now crashes because it seems to think that my `AppData` directory is in another location. My `AppData` is in a non-standard location (i.e., `C:\temp\USERNAME\AppData` as opposed to `C:\Users\USERNAME\AppData`). Is the location of `AppData` now hard-coded?

Conso

[2016-02-11 21:11] lukesampson commented on #685
There was a change to this on February 1st (see #667). Scoop now uses `$env:LOCALAPPDATA\scoop` rather than `~/appdata/local/scoop`.

So to get it working you should modify and run these two commands:

[code]

Does that work?

[2016-02-11 21:21] alapala commented on #685
Yes, that it. Thanks!

[2016-02-11 21:21] #685 closed

[2016-02-12 16:52] rivy opened #687 "".exe" shim doesn't set '$env:HOME'"
'$env:HOME' is not tested/created by the ".exe" shim code, which is inconsistent with the "CMD/BAT" and "PS1" shim code. This can result in a missing '$env:HOME' variable for compiled unix-y tools (which generally expect a reasonable '$env:HOME' to function correctly).

For consistency, code to test/create '$env:HOME' should be added to the `shim.exe` code. But, I think a better solution would be

[2016-02-16 06:30] saildata commented on #673
Hi @RobertWHurst , that's an odd problem - I use the command all the time to find program locations. Looking at the log, the .ps1 file hasn't changed since August, 2015.
Can you provide your PowerShell / Windows version? ` $PSVersionTable.PSVersion`
Windows version?
Are there any other errors on the stack trace or is this it?
If you try the command by itself, does it return `ERROR: <command> missi

[2016-02-16 07:47] lukesampson commented on #660
Fixed by lukesampson/scoop-extras#171.

[2016-02-16 07:47] #660 closed

[2016-02-18 01:17] mmcalli opened #697 "python27 app manifest removed?"
Hi

Just did a scoop status, and received the following message:-

[code]

I assume this means it was removed from the buckets in the repo. Is there a reason for that? I have a particular script that only works when I use python27 rather than python 3.5.1.

Regards

Mike

[2016-02-18 01:18] deevus commented on #697
Hi Mike

It's been moved to the versions bucket. You just need to add it using `scoop bucket add versions`

[2016-02-18 14:23] mmcalli commented on #697
Thanks so much, appreciate it!

[2016-02-18 14:23] #697 closed

[2016-02-18 20:29] zQueal commented on #591
I did have this working at one point. `PYTHON_HOME` needs to be set to the `/app` directory for Python. However, for whatever reason you __cannot__ use the current version of Python 2.7 (`2.7.11`). It doesn't play well with Vim for some reason. Vim will reply that Python is installed and configured, but none of the plugins will work correct. To fix this, you __must__ install Python 2.7.10.

[2016-02-18 22:51] deevus commented on #591
We can add Python2710 to the versions bucket. Would that work?

On Fri, Feb 19, 2016 at 7:29 AM Zach Queal <notifications@github.com> wrote:

[2016-02-19 01:09] zQueal commented on #591
It certainly would! That and a Vim x86 and x64 with built in Python support and I'll be a happy camper!

[2016-02-19 01:27] deevus commented on #591
If you can do the PR I'll happily merge it in. Does the Vim with Python support function without Python?

I suppose the question is can we replace the vim manifest in the main bucket with it, and not lose anything for those who don't care about using Python?

[2016-02-19 01:30] zQueal commented on #591
Yup! The Vim binary just has to be compiled with Python support to work with installed versions of Python. If compiled without Python support, like the one currently being served by Scoop, obviously it won't. So really only positive changes -- the only thing I can think of that would be a negative is a marginally larger filesize. Maybe a couple KB.

I'll do a PR as soon as I can.

[2016-02-20 18:24] robyrobrob opened #710 "slproweb.com mirror down, affects OpenSSL"
This affects updating / installing the OpenSSL binaries using Scoop.

[https://github.com/lukesampson/scoop/blob/master/bucket/openssl.json](https://github.com/lukesampson/scoop/blob/master/bucket/openssl.json)

[2016-02-20 23:25] rivy commented on #668
@damnhandy , you might want to look at my fork (https://github.com/rivy/scoop). I encountered this same issue while maintaining my patches on top of the baseline scoop, and, so, refactored all the install and update code to correctly pull from the installation branch. There is no reliance on a local config file. It makes maintaining an independent fork much easier.

Installation and updates expect

[2016-02-24 10:05] beruic opened #719 "Make commands take multiple packages"
I tried `scoop uninstall less wget` today, but it told me that it could not uninstall `less wget`. It would be nice if it interpreted whitespace as a delimiter, and took each item one by one.

[2016-02-24 15:33] leafgarland commented on #591
Regarding vim build sources, I've been happily using builds from [here](https://tuxproject.de/projects/vim/). 32bit and 64bit builds that are updated automatically.

[2016-02-24 20:13] zQueal commented on #591
@leafgarland those look great! Thanks!

[2016-02-25 17:06] rivy commented on #673
It's a bug in `scoop-which.ps1` uncovered because @RobertWHurst has a space in his username (and therefore his home and scoop paths). The bugged code splits on a space regardless of quoting.
# [see https://github.com/lukesampson/scoop/blob/master/libexec/scoop-which.ps1#L21)

[2016-02-25 20:20] saildata commented on #673
@rivy That makes sense. Thanks for the link and for following up.
I'm not on a Windows machine right now - off the top of my head, isn't there a '-parent' we could use as the target in place of the split string? I think there is also a '-fullname' or something to that effect. If not, forgive my laziness for not waiting until I boot up W8 to confirm.

[2016-02-26 15:45] Zougi commented on #501
here's some information on oneget provider implem found on the python maillist: https://mail.python.org/pipermail/distutils-sig/2015-January/025619.html

[2016-02-27 04:51] deevus commented on #501
The interface seems simple enough. Once that is implemented, then what?

[2016-02-27 04:53] deevus commented on #501
Ok, so we could fork the Sdk project for Scoop and create a custom provider that way.

[2016-02-28 06:08] HiroshimaCC opened #721 "Installing Perl crashes PowerShell"
Installing Perl (5.22.1.2) makes PowerShell crash during the download of the Strawberry Perl portable package (x64).
`scoop status` then indicate:

OS: Win10 Pro 64 bits

[2016-03-06 18:04] william-ellis commented on #721
I have the same problem (Win10 Home 64 bit).
Managed to work around it by redirecting the output when installing (e.g. `scoop install perl > output.txt`). Looks like this avoids the crash thanks to [this line](https://github.com/lukesampson/scoop/blob/master/lib/install.ps1#L118).

[2016-03-06 18:25] nightroman commented on #721
I had similar problems on downloading ModgoDB and Git recently. PowerShell crashed during downloading. May it something to do with some timeouts? I saw this problem only when downloading just released versions. I assume many people were downloading at the same time and the servers were busy. Is there anything to tune in the scoop download procedures?

[2016-03-07 03:40] rivy commented on #721
I've also had this randomly occur during the download with multiple different apps. It generally works to completion if I just immediately re-run the same command.

I'm betting it has something to do with the callbacks used during the download process.

[2016-03-09 13:54] isamuelson opened #732 "move to use symlinks and not copy the exe/dll files"

[2016-03-09 15:20] rivy commented on #732
In a brain-dead decision, Win7+, by default, only grants the ability to create symlinks to administrators (ref: http://superuser.com/questions/124679/how-do-i-create-a-link-in-windows-7-home-premium-as-a-regular-user/125981#125981 [<kbd>@@</kbd>](https://archive.is/3vF2y) )  will not allow creation of symlinks without administrator privileges. The specifically required privilege is "SeCreateSymbol

[2016-03-12 05:40] stphnlwlsh opened #737 "nodejs - specified path is too long"
I tried to install nodejs with:

    scoop install nodejs

and got this error in my log file:

    === Logging started: 2016-03-11  23:36:53 ===
    Error 1320. The specified path is too long: C:\Users\StephenWalsh\AppData\Local\scoop\apps\nodejs\5.7.0\_scoop_extract\nodejs\node_modules\npm\node_modules\node-gyp\node_modules\npmlog\node_modules\gauge\node_modules\lodash.padright\node_modules\lodas

[2016-03-15 22:46] lool commented on #572
Hi,
Had to uninstall scoop before testing this:
iex (new-object net.webclient).downloadstring( 'https://raw.github.com/rivy/scoop/master/bin/install.ps1' )

It seems to work better in that it can unpack lzma stuff without barking at 7z.exe not being found under my user, however it fails with "can't shim xyz.exe" errors:

This might be because the scoop apps moved forward when this binary didn't.

[2016-03-16 02:50] mrkishi commented on #721
While it usually works on the second time for me as well, I couldn't install Erlang at all. The longer download made it impossible to reach 100% before the inconsistent "powershell has stopped working." Sometimes it happens immediately, but it managed to get up to 60%+ at times.

@william-ellis's suggestion works, thankfully!

[2016-03-16 05:41] #721 closed

[2016-03-16 05:42] lukesampson commented on #721
I've disabled the percentage complete display, which seemed to be causing the problems.

[2016-03-16 06:59] nightroman commented on #721
Is `$wc.dispose()` needed only with percentage complete?

[2016-03-16 07:15] lukesampson commented on #721
It seems to work okay. I'm assuming powershell's garbage collection cleans up when it goes out of scope.

[2016-03-23 09:49] MPLew-is opened #750 "Install --arch flag silently fails"
When trying to install packages of different architectures, only `-a 32bit/64bit` works, contrary to the documentation provided by `scoop help install`, which states that `--arch` should work (I even tried `--architecture`, as mentioned in #235).

The `--arch` flag is not rejected like the `--architecture` flag is, but the file installed is the default for your system, rather than the architecture

[2016-03-23 10:23] lukesampson commented on #750
Sorry yeah that was a mistake when I mentioned `--architecture`. I think the info in `scoop help install` is correct.

I do get an error when I run
[code]
And
[code]

So I'm not sure what's going on there...

[2016-03-23 10:24] lukesampson commented on #750
Sorry, I should also mention that `--arch` did work for me.

[2016-03-23 10:26] lukesampson commented on #750
Do you have `getopt` installed on your path? It could be overriding scoop's implementation.

[2016-03-23 10:37] MPLew-is commented on #750
Hmm. Did it install the correct version when you used `--arch`? I'm not receiving any errors, but this is my output for various commands:

Using `--arch` (incorrect):
[code]

Using `-a` (correct):
[code]

So it's not so much an error, as it just doesn't seem to actually obey `--arch`, and goes with the system default.

And, at least according to `get-command getopt`, I don't have `getopt` installe

[2016-03-23 10:41] MPLew-is commented on #750
Also, I can confirm that using the architecture flag after the app name (as in, `scoop install mysql --arch 32bit`) has the same effect.

[2016-03-23 10:53] #750 closed

[2016-03-23 10:54] lukesampson commented on #750
Should be fixed now. Thanks for patiently reporting this!

[2016-03-23 11:00] MPLew-is commented on #750
Not a problem. Glad I could help!

[2016-03-23 18:26] isamuelson commented on #732
the issue that i'm having is that some of the packages, install multiple executables and those require some dll files...it seems that only copy the executables isn't enough

[2016-03-23 22:40] lukesampson commented on #732
It's kind of a feature of scoop that installs are self-contained. This helps avoid the problems that come with shared dependencies, like incompatible versions and missing components caused by uninstalling something that other programs need.

Quite a few manifests (e.g. [OpenSSH](https://github.com/lukesampson/scoop/blob/master/bucket/openssh.json)) install their own copies of DLLs, even if they're

[2016-03-24 21:34] isamuelson commented on #732
I wouldn't mind that.

I can be specific around the problem i'm having

ConENU package and git... the ConENU bash does not recognize git or the
configuration files.

I'm in the process of rebuilding my windows box, I will try to send you a
proper issue by end of week

On Wed, Mar 23, 2016 at 6:40 PM, Luke Sampson <notifications@github.com>
wrote:

--

*Ido Samuelson*

Phone (US): +1-415-562-8582

[2016-03-24 21:42] lukesampson commented on #732
Does [this](https://github.com/lukesampson/scoop-extras/blob/master/conemu.json) help? You need to run `scoop bucket add extras; scoop install conemu` to install this—it's in the [extras](https://github.com/lukesampson/scoop-extras) bucket rather than the main bucket because it's considered a GUI program.

[2016-03-24 22:34] isamuelson commented on #732
fresh install

1. iex (new-object net.webclient).downloadstring('https://get.scoop.sh')
2. scoop install git
( the git-bash command is not available ...)
3. scoop bucket add extras
4. scoop install conemu

problems:

1. conemu does not detect bash ( i will try to make a pull request for that
this weekend, it seems that simply copy the git-bash.exe to the shims
folder made it work)
2. would it be p

[2016-03-24 22:52] lukesampson commented on #732
1. It might be better to add git-bash.json as a separate manifest in extras, as not everyone who wants conemu will want bash. If conemu detects git-bash.exe on the path without any extra config, then it should work fine as a separate manifest.
2. Yes you can add start menu shortcuts that end up under "Scoop Apps". See #678.

[2016-03-25 00:09] isamuelson commented on #732
git-bash.exe and bash.exe comes with the git package
under ~\AppData\Local\scoop\apps\git\2.7.1.windows.2\...

On Thu, Mar 24, 2016 at 6:52 PM, Luke Sampson <notifications@github.com>
wrote:

--

*Ido Samuelson*

Phone (US): +1-415-562-8582

Email: *ido.samuelson@gmail.com*
LinkedIn: http://www.linkedin.com/in/isamuelson

Skype: ido_samuelson

[2016-03-25 00:10] isamuelson commented on #732
sorry, sent too early...

copy both executables to the shims dir i get this error:

Skipping command-line
'"C:\Users\ido\AppData\Local\scoop\shims\..\usr\bin\bash.exe"'
('C:\Users\ido\AppData\Local\scoop\shims\..\usr\bin\bash.exe' not found)
Need a valid command-line; Edit the string resources accordingly

On Thu, Mar 24, 2016 at 8:09 PM, Ido Samuelson <ido.samuelson@gmail.com>
wrote:

--

*Ido Sa

[2016-03-25 00:34] isamuelson commented on #732
I found out when conemu will detect bash as a shell.

it is when i'm running conemu from the following folder:

C:\Users\ido\AppData\Local\scoop\apps\git\2.7.1.windows.2\bin>conemu

On Thu, Mar 24, 2016 at 8:10 PM, Ido Samuelson <ido.samuelson@gmail.com>
wrote:

--

*Ido Samuelson*

Phone (US): +1-415-562-8582

Email: *ido.samuelson@gmail.com*
LinkedIn: http://www.linkedin.com/in/isamuelson

Skype

[2016-03-26 16:07] merraysy opened #753 "mongo.exe stopped working !!"
I installed mongodb via scoop today and everytime i try to run a mongo command it crashs :(

[2016-03-29 02:23] neoeinstein opened #759 "Promote `packer`, `terraform`, and `rancher-compose` to main"
Looking at the criteria in #451, it looks like these would be good for promoting to the main bucket. If you agree, I'll submit a PR to add them to main and remove them from extras. `latex` may also be a good candidate.

[2016-03-29 02:35] lukesampson commented on #759
Yes, that'd be great if you can submit some PRs for this. Thanks.

[2016-03-29 03:50] #759 closed

[2016-03-29 04:29] zQueal opened #763 "PHP 7.0.4 requires Visual C++ Redistributable for Visual Studio 2015"
Using `scoop` with `scoop install php` on a newly formatted machine brings an error;

    The program can't start because VCRUNTIME140.dll is missing from your computer. Try reinstalling the program to fix this problem.

Simple research shows that PHP VC17 requires the `Visual C++ Redistributable for Visual Studio 2015` package to be installed. Perhaps `scoop` should automatically check and warn o

[2016-03-29 04:46] lukesampson commented on #763
Oh right. That was supposed to be fixed in #756. I'm assuming you just installed scoop today or ran `scoop update` recently, is that right?

See also #755 for context—we tried installing this automatically, but the admin elevation prompt isn't great.

If you can work out some powershell to check if the dependency is installed, we could show a warning in the "post_install". Happy to accept a pull r

[2016-03-29 04:59] zQueal commented on #763
Probably 4-5 minutes before installing PHP. Correct.

I opened this issue because I couldn't find anything too similar and to simply track the issue--but apparently that's not the case. The installer is `MSI` so it should be relatively trivial to implement. I'll take a look into it soon.

[2016-03-29 05:06] neoeinstein commented on #737
This is because `node` uses nested dependency folders. That makes Windows sad if the dependency tree is too deep because Windows has a max path length of 260 characters.

You can set the cache location to be somewhere closer to the root by using:
[code]
But that does limit the usefulness of having had the cache inside your `AppData` folder.

[2016-03-29 05:32] MPLew-is commented on #763
Hmm, can you verify that there is a `vcruntime140.dll` file in the directory that contains the result of `scoop which php`? Scoop should be downloading the needed DLLs when you run `scoop install php`, and every version of PHP and Windows I've been able to test successfully found the DLLs and ran correctly, even when all Visual C++ Redistributables were uninstalled from the computer.

If that DLL

[2016-03-29 05:57] MPLew-is commented on #763
I've gone ahead and made a pull request (#766) so that PHP will work. If we can't find a solution that uses the DLLs directly, or just want to restore functionality until the problem can be investigated further, the pull request will get everything back up and running, even if it does involve administrator prompts.

[2016-03-29 06:06] #763 closed

[2016-03-29 06:06] lukesampson commented on #763
Thanks @MPLew-is. Let us know how you go @zQueal.

[2016-03-29 07:01] zQueal commented on #763
@MPLew-is

I was unable to find `vcruntime140.dll` in `~\AppData\Local\scoop\apps\php\7.0.4\`. After installing VCR everything works perfectly. As far as I can tell, the dll did not come bundled with `scoop install php` for whatever reason.

[2016-03-29 07:04] MPLew-is commented on #763
Are you by any chance running a 32-bit version of Windows? I was unable to locate the DLLs that 32-bit PHP was using on a 64-bit system and thus did not include them as a download, but 32-bit PHP on a 32-bit system might work differently.

[2016-03-29 07:08] MPLew-is commented on #763
To clarify, 32-bit PHP on a 64-bit system seems to not require any Visual C++ DLLs at all. I'm not entirely sure why that is, but after uninstalling all Visual C++ Redistributables and combing my registry and system path for any of the `vcruntime` DLLs, I still was not able to find one that caused PHP to fail to start up. 64-bit PHP, on the other hand, gives the exact same error message as you rep

[2016-03-29 07:14] zQueal commented on #763
No, I am running x64 on both Windows and PHP.

    phpinfo()
    PHP Version => 7.0.4

    System => Windows NT ZQUEAL-PC 6.1 build 7601 (Windows 7 Ultimate Edition Service Pack 1) AMD64
    Build Date => Mar  2 2016 14:38:13
    Compiler => MSVC14 (Visual C++ 2015)
    Architecture => x64

[2016-03-29 07:30] MPLew-is commented on #763
Huh, that's quite strange. I'm running almost exactly the same setup, and I'm not running into any issues with this. What worries me most is that you don't have the DLL, which should have been downloaded when you installed PHP. If you have a minute, could you do the following steps/commands for me?

1. Uninstall Visual C++ 2015 Redistributable from Control Panel

2. `scoop update`

3. `scoop insta

[2016-03-29 07:39] MPLew-is commented on #641
I realize this is an an old thread, but the previous minor releases of PHP (5.4, 5.5, 5.6 currently) are available in the [versions bucket](https://github.com/scoopinstaller/versions), which you can add to scoop with: `scoop bucket add versions`. You'll then be able to install `php54`, `php55`, and `php56` (as well as `php70` if you're interested in using 7.0 long-term). Those apps will always be

[2016-03-29 07:45] #641 closed

[2016-03-29 07:58] MPLew-is commented on #126
I definitely support having some process for moving data and configuration when updating, even if it's just a `post_update` script that receives the old and new app directories as parameters, and can then do whatever is needed to move data before starting the new services. I can currently kludge together a clone of this by having the `post_install` script look for the previous version of the app a

[2016-03-29 08:05] zQueal commented on #763
After following your steps, it seems to be running fine and `vcruntime140.dll` is included in the working directory.

    Mode                LastWriteTime     Length Name
    ----                -------------     ------ ----
    d----         3/29/2016   4:00 AM            dev
    d----         3/29/2016   4:00 AM            ext
    d----         3/29/2016   4:00 AM            extras
    d----

[2016-03-29 08:15] MPLew-is commented on #763
Hmm... approximately when did you install scoop on this machine? Everything's resolved now, which means the only explanation I can think of is that somehow scoop installed a version of app that didn't include the DLL or the Visual C++ installer (I made those changes in #755 and #756 because I was running into the same problem as you).

@lukesampson, care to weigh in? I'm not sure what's going on w

[2016-03-29 08:45] zQueal commented on #763
I recently reformatted prompting a reinstallation of scoop. I believe it was Wednesday.

[2016-03-29 08:50] MPLew-is commented on #763
Ah, that may have been it. If `scoop update` wasn't run between then and now, the recent changes to the PHP manifest probably didn't end up getting synced with your computer, and, when you went to install PHP, Visual C++ didn't get downloaded, leading to the same issue that prompted those two pull requests.

Since we know that the DLL version works, I'll go ahead and make a pull request to revert

[2016-03-29 09:05] lukesampson commented on #126
@MPLew-is would you like to claim this and try to implement the [travelling directories](https://github.com/lukesampson/scoop/wiki/Travelling-directories) proposal? There is already a [travel_dir](https://github.com/lukesampson/scoop/blob/master/lib/install.ps1#L742) function which you can use.

[2016-03-29 09:23] MPLew-is commented on #126
Sure, I'll claim it. Looking over the proposal though, I have a few proposed modifications:

1. The addition of "traveling files". I know for PHP, for instance, the `php.ini` is in the root directory, and should travel to the new installation.

2. The addition of a way to force the copying of directories. For example, in the current MySQL app manifest, the MySQL data directory is initialized on in

[2016-03-29 10:50] lukesampson commented on #126
1. The manifest `travel_dir` array could become just `travel` and files could be legal there in addition to directories.
2. The intention was that only sub-directories of a travelling directory that already exist at the destination would be ignored when copying them, but not the travelling directory itself. So if it's `"travel": [ "data" ]`, and a new `data` directory is created empty during the u

[2016-03-30 12:12] stphnlwlsh commented on #737
I figured out how to resolve but it probably wasn't the ideal way. I did through the cached until I found the install file and just ran it through the GUI. Since then one of my .NET projects threw back the same error, so as you noted about the character limit, this isn't Scoop specific.

[2016-04-04 17:40] adicarlo opened #773 "ffmpeg install fails: access to ffplay.exe fails"
On a fresh install of scoop on Windows 10, I'm getting an error installing ffmpeg:

PS C:\Users\Asus_001> scoop install ffmpeg
installing ffmpeg (2016-03-30)
loading https://ffmpeg.zeranoe.com/builds/win64/static/ffmpeg-20160330-git-be746ae-win64-static.7z from cache...
checking hash...ok
extracting...rm : Cannot remove item C:\Users\Asus_001\AppData\Local\scoop\apps\ffmpeg\2016-03-30\_scoop_extra

[2016-04-04 17:45] damnhandy opened #774 "Scoop skipping steps, not raising an error"
We have a version of Scoop running internally for a small work group. The only modifications we've made are changing the install script and modifying the manifests to point to files hosted in our environment. Other than that, it is stock Scoop code.

For the most part, everything works. However, for a small percentage of users, some manifests are not working and it appears scoop is skipping steps

[2016-04-04 17:54] adicarlo commented on #773
A little research shows this has happened before, cf https://github.com/lukesampson/scoop/issues/278

Looks like it wasn't resolved before.  Here's my psversiontable:

Name                           Value
----                           -----
PSVersion                      5.0.10586.122
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.122
CLRVersion

[2016-04-04 20:13] damnhandy commented on #572
@lool when you get the can't shim error, does it skip right to `can't shim`, or do you also see the lines where it states that it's downloading, checking the hash, etc.? Just curious if you're having a similar issue to #774 ?

[2016-04-04 21:01] lool commented on #572
This is how scoop install git fails after a fresh install when using the official release:
[...]
downloading http://www.7-zip.org/a/7z1514-x64.msi...done
checking hash...ok
extracting...done
creating shim for 7z
7zip (15.14) was installed successfully!
installing git (2.8.0.windows.1)
downloading https://github.com/git-for-windows/git/releases/download/v2.8.0.wind
ows.1/PortableGit-2.8.0-64-bit.7z

[2016-04-04 21:08] lukesampson commented on #774
What do the `url`s look like in your manifests? Are they network paths or URLs? If you can post the manifest that might help.

[2016-04-04 21:12] lukesampson commented on #773
It looks like something is putting a file lock on the .exe. Maybe a virus scanner?

[2016-04-05 01:24] damnhandy commented on #774
The paths are standards HTTPS URLs. We have an Artifactory host set up and are mirroring the files there. The SSL certs are signed by an internal CA, but all of the hosts have the root certs installed.

Here's a variant of the git manifest that is failing:

	{
	  "homepage": "https://git-for-windows.github.io/",
	  "license": "GPL2",
	  "version": "2.7.4.windows.1.internal.5",
	  "architecture": {

[2016-04-05 01:26] damnhandy commented on #572
Well, looks like we have different issues then. In my case, it's completely skipping over the 7zip installation and I have no feedback on the git download and hash verification. So, likely another issue. :(

[2016-04-05 01:28] damnhandy commented on #774
And while I am doing a lot in the post-install steps, that isn't even being called yet. Unless of course, the extra lines are somehow getting in the way.

[2016-04-05 02:00] lukesampson commented on #774
That's strange. The manifest looks fine. Have you tried running `set-psdebug -trace 2` to see what happens at each line? I would expect it to give you an error rather than just skip.

[2016-04-05 02:14] damnhandy commented on #774
Since I'm still relatively new to PowerShell, I didn't know about that. I'll have these folks give that a whirl tomorrow and hopefully that will yield something useful. Thanks for the tip!

[2016-04-05 14:58] damnhandy commented on #774
I've attached a log file from one of the affected users here:

[user_01_debug.txt](https://github.com/lukesampson/scoop/files/204735/user_01_debug.txt)

It's been scrubbed to remove the username and some internal URLs and files, but that's it. The Git manifest we have has a dependency on a ZIP file with some root certificates. That installs fine, but seems to skip the install of 7zip.

[2016-04-05 18:42] adicarlo commented on #773
Luke, I'm sure you're right.  McAfee is running but I can't see any settings or knobs related to file permissions.

I managed to get ffmpeg installed by booting into safe mode, then installing again, then meeting again in normal mode.

Is it worthwhile making a note of this somewhere in the documentation?   Or pursuing what is actually causing the problem?  I'm more of a linux guy than a Windows g

[2016-04-05 20:48] lukesampson commented on #774
This machine is detected as 32-bit, and there aren't any 32-bit urls in the manifest.

You can force a 64-bit install by using `scoop install [app] -a 64bit`. But if the URLs will work on 64 or 32 bit machines, you should remove the `architecture/64bit` part of the manifest e.g:

[code]

[2016-04-05 20:48] lukesampson commented on #774
This machine is detected as 32-bit, and there aren't any 32-bit urls in the manifest.

You can force a 64-bit install by using `scoop install [app] -a 64bit`. But if the URLs will work on 64 or 32 bit machines, you should remove the `architecture/64bit` part of the manifest e.g:

[code]

[2016-04-05 22:47] damnhandy commented on #774
Yep, we just figured this out while watching one the developers consciously select the 32-bit PowerShell (x86) console. All our machines are 64-bit, so we didn't think to bother to 32-bit. I didn't even consider that folks could select a 32-bit console. Now I know!

I'll take your advice and remove the architecture options. Thanks again! I'll close this out then.

[2016-04-05 22:47] #774 closed

[2016-04-09 06:49] #773 closed

[2016-04-09 06:52] lukesampson commented on #773
I've made it so that installation will continue in this case. The temporary files from the install will be left over but I think that's better than just crashing.